[2016-12-10 21:23] vherever opened #1194 "Pandora.com stops scrobbling"
Hello! It  seems to be some problem with new pandora (just reworked a few days ago)

![pandora-issue](https://cloud.githubusercontent.com/assets/4949404/21076245/50ba8ad4-bf2f-11e6-98d7-1f2644623065.jpg)

[2016-12-11 06:31] alexesprit commented on #1194
Can't reproduce this. Have you any additional information?

Is extension working on other websites for you?

[2016-12-13 09:41] santturin opened #1196 "Temporarily disable scrobbling"
Hi,

I'm using Chrome 55.0.2883.87 and I am not able to temporarily disable scrobbling in youtube.
Clicking the scobbler icon just opens an infobox of the song. Am I doing something wrong or is this a bug?
![image](https://cloud.githubusercontent.com/assets/24542384/21134990/c81be4b0-c128-11e6-93b4-bd9895a963a2.png)

Santtu

[2016-12-13 10:52] alexesprit commented on #1196
It's by design. The old behaviour was used before that popup was implemented.

[2016-12-13 10:53] santturin commented on #1196
Well how do I temporarily disable scrobbling or is possible anymore?

[2016-12-13 10:54] santturin commented on #1196
Well how do I temporarily disable scrobbling or is possible anymore?

[2016-12-13 11:02] alexesprit commented on #1196
There's a list of all supported services in the extension preferences, where you can disable any service.

[2016-12-13 11:04] santturin commented on #1196
So this is not supported anymore?

![image](https://cloud.githubusercontent.com/assets/24542384/21137970/aad0e1f6-c134-11e6-81f7-2bd074aecce1.png)

[2016-12-13 11:09] alexesprit commented on #1196
Yes, you're right. This feature is not supported anymore.

[2016-12-13 11:14] santturin commented on #1196
That is a shame. It was very useful

[2016-12-13 13:49] ironnerve commented on #1162
When is the next release coming?

[2016-12-13 21:03] #882 closed

[2016-12-13 21:03] inverse commented on #882
Will be in the next release thanks to @alexesprit :)

[2016-12-14 11:21] IRainman commented on #669
Any updates?

[2016-12-14 15:39] janbaykara commented on #1196
I always planned to add this feature to #719. I might get round to it at some point, but if someone else wants to carry on the good work, go for it.

[2016-12-15 12:12] Djidiouf commented on #1194
I have the same issue and the extension is working fine on Google Play.

[2016-12-15 12:49] vherever commented on #1194
Also I tried to test it on the other computer. The same problem. Youtube scrobbling works great.

[2016-12-15 14:55] alexesprit commented on #1194
@Djidiouf what about log of background page?

[2016-12-15 14:57] alexesprit commented on #1194
I don't know how you break Pandora scrobbling, but comments like 'It doesn't work' doesn't resolve the problem.

[2016-12-16 00:15] Djidiouf commented on #1194
@alexesprit Sorry?

There is not that much room for us to 'break' pandora scrobbling as a regular user. Don't assume it's the user fault when your code is failing somewhere until it's demonstrated.

And where did you see 'It doesn't work' without any other comments/logs? Perhaps those don't give you the information you need though you specifically asked if the scrobbler was working on other websit

[2016-12-16 01:18] f1u77y commented on #1194
Extension works fine for me

(and that logging is misleading: I don't know if `#playbackControl` was finally found on the page in @Djidiouf's case)

[2016-12-16 03:46] alexesprit commented on #1194
@Djidiouf I just wanted to get something like 'steps to reproduce this bug'. Logs w/o explaining your actions is not much useful.

E.g. what does @vherever do to make the tab dissapear (according to logs, the tab with Pandora website is missing while injecting the connector into Pandora webpage)? How do you make the player element missing on the page?

I don't ever know what is the 'new pandora'.

[2016-12-16 04:09] alexesprit commented on #669
No, there's nothing new. I'm still waiting for the review. This time it takes much longer time.

I'll post a message when the extension status on AMO will be changed.

[2016-12-16 04:30] IRainman commented on #669
@alexesprit heh :) Thank you! In our culture, for such cases, there is the phrase "the promised three-year wait" :)

... and happy holidays to all))

[2016-12-16 05:04] f1u77y commented on #1194
@alexesprit

They could update it for certain region. At least they provide their service only for 3 countries, so they could do smth similar with new design.

Or, alternatively, they could add their new design for some subset of registered users.

[2016-12-16 05:21] alexesprit commented on #1194
@f1u77y but the log that posted by @vherever is really strange. I'm not sure if it's related to the new design of Pandora.

[2016-12-16 05:36] f1u77y commented on #1194
@alexesprit I'm almost sure that this log is unrelated but @Djidiouf's log shows that `#playbackControl` not found while for me it's found.

And as I've said before, the logging here is misleading a little. It could log that player element is not found and then find it with `MutationObserver`

[2016-12-16 16:57] scruff67 commented on #953
Stopped scrobbling from Slacker... all other scobbling sources still work...
Every track says "The song not recognized..."

[2016-12-16 17:00] alexesprit commented on #953
@scruff67  I fixed Slacker scrobbling in #1185. It would be great if you check the latest version from the repository.

[2016-12-16 17:15] scruff67 commented on #953
Oh wow, great - thank you!

Now the only problem is I'm a complete noob with installation of versions not from the Chrome Store... on the bright side I can probably figure it out given a shove in the right direction... Any advice as a good place for me to start?

[2016-12-16 17:17] alexesprit commented on #953
We have a short HOWTO for this. Here it is -- https://github.com/david-sabata/web-scrobbler#unpacked-extension.

[2016-12-16 17:34] scruff67 commented on #953
Thanks for the hand on that!!!  I'm back in business with Slacker scrobbling, and now as a bonus know a bit more about extensions.  MANY THANKS!!!

[2016-12-19 21:20] #953 closed

[2016-12-20 15:48] #1162 closed

[2016-12-20 15:48] #1193 closed

[2016-12-20 15:57] #918 closed

[2016-12-20 16:11] #1175 closed

[2016-12-20 17:05] alexesprit commented on #980
@papermana you're totally right, that happened randomly.

[2016-12-20 20:44] Wenger786 commented on #646
I have the same issue: Scrobbling of amazon (Prime) music not scrobbling using the web-payer (https://music.amazon.co.uk) - actually it seems https://music.amazon.co.uk/recommended is okay, and scrobbled, but https://music.amazon.co.uk/home?do=play&playlistAsin=B012GC0ENW is not.  Last.fm Scrobbler 1.59 turns red for both URL's but only scrobbles the former (with the expected "now playing"  and "s

[2016-12-21 07:41] alexesprit commented on #1111
I'll close this issue, because it's reproduced and fixed. Feel free to reopen the issue, if the extension still doesn't work for you properly.

[2016-12-21 07:41] #1111 closed

[2016-12-21 07:43] alexesprit commented on #936
As I said before, this is not a bug. The video title doesn't contain full information about the playing song.

[2016-12-21 07:43] #936 closed

[2016-12-21 07:45] alexesprit commented on #694
The extension works fine with YandexRadio now.

[2016-12-21 07:45] #694 closed

[2016-12-21 07:50] alexesprit commented on #659
The requested service is not available for a long time, so I'll close it. Feel free to reopen the issue if that service will be available again.

[2016-12-21 07:50] #659 closed

[2016-12-21 07:55] alexesprit commented on #343
Well, I accidentally remove RadioPlayer support, which covers mentioned music service (see #1133 discussion); the issue makes no sense now.

As @inverse said before, we always can return the RadioPlayer support, so you can request adding support for Absolute Radio UK by opening new issue.

[2016-12-21 07:55] #343 closed

[2016-12-21 08:08] alexesprit commented on #857
ClassicalRadio support was implemented in https://github.com/david-sabata/web-scrobbler/commit/9dd193886310a4f5099917a6f1cbd0a67c693832, but that implementation doesn't filter the artist field.

[2016-12-21 08:08] #857 closed

[2016-12-21 08:09] alexesprit commented on #660
This issue is related to v1 Youtube connector which was replaced by v2 implementation a long time ago.

[2016-12-21 08:09] #660 closed

[2016-12-21 16:08] alexesprit commented on #980
Google Play Music should work fine after applying #1176. TuneIn is fixed some time ago and works fine, as I mentioned above.

[2016-12-21 16:08] #980 closed

[2016-12-21 16:33] alexesprit commented on #1060
@nienna1 is the situation with Spotify scrobbling still the same?

[2016-12-22 15:06] svossen opened #1203 "Request: support for Pinguin Radio"
It would be awesome if support for Pinguin Radio could be added!

- http://www.pinguinplayer.com
- http://pinguinradio.com

[2016-12-22 16:18] alexesprit commented on #1190
@avgurf the URL you provided redirects to mixcloud.com, not beta one. Is there something I should to do to get access to the beta version?

[2016-12-22 16:26] avgurf commented on #1190
you need to sign to it, It had appeared on my homepage. I guess you can contact support and ask for it, kinda strange they didn't provide a developer preview...

[2016-12-23 07:20] pink999 opened #1204 "Last fm"
How do we get a default image for artists (none @last fm) on Youtube & Soundcloud ? Great job otherwise, bandcamp scrobbling is flawless. Thx bri.

[2016-12-23 08:47] inverse commented on #1204
If I am not mistaken they are from musicbrainz or last.fm itself. I don't think we have configured the track art directly on those ones.

[2016-12-23 08:49] inverse commented on #1190
It's not available to me even when signed in.

[2016-12-23 15:44] pink999 commented on #1204
Thanks for the fast reply.

I thought such, so for unknown reasons they will not implement a default
image for tracks.

Have a great holiday everyone.

On Fri, Dec 23, 2016 at 12:48 AM, Malachi Soord <notifications@github.com>
wrote:

[2016-12-24 08:34] #1203 closed

[2016-12-24 08:35] alexesprit commented on #1203
Will be available in next release.

[2016-12-24 23:29] galkowicz opened #1205 "No album info scrobble on tidal"
When using the extension with TIDAL on chrome track artist and title are sent as it should but track album NOT

[2016-12-25 07:50] alexesprit commented on #1205
The extension does not scrobble album because there's no album info on a player panel:
![image](https://cloud.githubusercontent.com/assets/1119267/21470221/e5336846-ca8f-11e6-8a0a-3863b0c27000.png)

[2016-12-25 08:01] #960 closed

[2016-12-25 08:01] #989 closed

[2016-12-25 09:08] #1205 closed

[2016-12-25 17:38] alexesprit opened #1206 "Duration priority"
Is there a reason to prefer processed duration (i.e. provided by Last.fm) to parsed one?

Some tracks have different versions, which have different durations, so Last.fm sometimes can return wrong result (see [this log](http://pastebin.com/xxtare3E) as an example).

[2016-12-25 18:32] #921 closed

[2016-12-25 19:19] #674 closed

[2016-12-25 20:14] alexesprit commented on #933
`chrome.storage` is asynchronous and uses callback to return storage data. Since the source code is almost "callback-based" it's not a good solution to use this storage API.
But, since we use `ChromeStorage` that wraps `chrome.local`, the possible option is to use Promises:
[code]

[2016-12-25 20:33] alexesprit commented on #922
@sphinx9 are you still experiencing this issue? I cannot reproduce it.
I opened Youtube in an 'app' mode and played a random song, that was scrobbled successfully.

I can only guess that you weren't authorized while scrobbling songs in the 'app' mode.

For those who also want to reproduce this issue but don't know how to run Chrome in this mode:
[code]

[2016-12-25 20:58] alexesprit commented on #816
Github has a [feature](https://help.github.com/articles/setting-guidelines-for-repository-contributors/) to show link to contribution guidelines on creating issues/PRs. So all instructions to get information we need can be placed into this file instead of wiki. I also created [an example of this file](https://gist.github.com/alexesprit/4b966cb89f231a040c8fa228bf1e138b.pibb) which, of course, can b

[2016-12-26 11:38] f1u77y commented on #816
We can make an issue template. Some people don't check the wiki before repoting the issue but they will see the issue template. So I think it's better option to provide it insted of wiki page.

[2016-12-26 18:21] alexesprit commented on #235
Tests for `filter` module (Youtube filters and something more) were added in b2b98df47a16586ca43f9e08df706317a1845d98.
Tests for connectors were added in #1187.

[2016-12-26 18:33] inverse commented on #1206
@david-sabata might be able to shed some light on that. I can imagine if for whatever reason the connector failed to parse some duration it would fall back to last.fm.

[2016-12-26 18:41] alexesprit commented on #1206
Perhaps, I misunderstood you, but there's no fallback from parsed data to Last.fm one:
[code]

[2016-12-27 08:22] nienna1 commented on #1060
hi @alexesprit, thanks for your worry. when i listen to music on spotify on my computer on work, it doesn't scrobble - i have UK based IP address there because i work for UK oranisation, so maybe it's because of that...?
i thought it's only there, but right now i'm listening at home on spotify and it's still not working:
![screen shot 2016-12-27 at 09 20 36](https://cloud.githubusercontent.com/ass

[2016-12-27 08:24] alexesprit commented on #1060
Could you please open developer console (Ctrl+Shift+I, then select 'Console' tab) and send me its content (but please use pastebin services instead of pasting the content here)?

[2016-12-27 08:32] nienna1 commented on #1060
here it is: http://pastebin.com/nrdL7fi1

[2016-12-27 08:35] alexesprit commented on #1060
@nienna1 hmm, ok. Could you also provide the content of background page log after doing these steps:
1. Open browser.
2. Open Spotify.
3. Play some song.
4. Collect logs and send them.

[2016-12-27 09:05] nienna1 commented on #1060
i restarted chrome and it's working now! once i get back to my office i'll let you know how are things doing there. thank you once again for all of your support.

[2016-12-27 13:25] david-sabata commented on #1206
There could have been some historical reason for that, but it certainly makes more sense to prefer parsed duration

[2016-12-27 17:29] schvabodka-man opened #1207 "Request of adding new service(Style Jukebox)"
Hello there!
Some time ago i've discovered cloud service that plays my flac files - [stylejukebox.com](url). The problem is that it didn't have support of last.fm, so i think it would be nice if someone will implement it by this addon.

[2016-12-28 00:14] werewegian opened #1208 "Amazon Alexa not scrobbling albums"
I'm using the UK version of Alexa and have added the pattern to the UK Amazon Echo page *://alexa.amazon.co.uk/spa/index.html#player but although the track and artist are scrobbling, the album isn't. Not a big issue but it means my recent album charts are emptying.

[2016-12-28 14:52] werewegian commented on #1208
I'm not too familiar but I inspected the element. The div is div.d-sub-text-2.d-truncate, the classname
"d-sub-text-2 d-truncate" and the innerHTML contains the album name. Does that help?

[2016-12-28 14:59] alexesprit commented on #1208
I added album selector to Alexa connector. Can you please test it and say if it's helped or not? https://github.com/alexesprit/web-scrobbler/archive/alexa-album.zip
If yout don't know how to install extensions from zip file, please read [this howto](https://github.com/david-sabata/web-scrobbler#unpacked-extension).

[2016-12-28 15:53] werewegian commented on #1208
Took me a while to work it all out but the answer is yes, the album name is now associated with the scrobble. Thanks.

[2016-12-29 09:03] alexesprit commented on #1208
These changes will be available in the next release. Thanks for help!

[2016-12-29 09:03] #1208 closed

[2016-12-30 08:03] alexesprit commented on #1206
Priority is changed in 4dd0e6eb13e59379431706137a2408f40c3de72e.

[2016-12-30 08:03] #1206 closed

[2016-12-30 14:00] alexesprit commented on #1005
@neeraj586 is this issue still actual?

[2016-12-31 02:45] janbaykara commented on #1060
I'm almost definite Spotify has Last.fm scrobbling built-in?

[2016-12-31 08:32] neeraj586 commented on #1005
It's solved thanks and happy new year

On 30-Dec-2016 7:30 pm, "Alexey" <notifications@github.com> wrote:

@neeraj586 <https://github.com/neeraj586> is this issue still actual?

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/david-sabata/web-scrobbler/issues/1005#issuecomment-269774599>,
or mute the thread
<https://github.c

[2016-12-31 08:43] #1005 closed

[2017-01-01 09:28] alexesprit commented on #896
Hi guys. Is the latest release works fine with Google Music?

[2017-01-01 09:30] alexesprit commented on #572
@glennvanderstukken is Tidal scrobbling sill broken on the latest release?

[2017-01-01 09:38] alexesprit commented on #527
I think all Google Play Music issues should be closed by following reasons:
1. There's no certain steps to reproduce in that issues.
2. #1176 is merged.

[2017-01-01 19:48] alexesprit commented on #816
An [example][1] of issue template generated by [this service][2].

Is there something that should be mentioned in the template?

[1]: https://gist.githubusercontent.com/alexesprit/c280c6b92b896fce70eba5a21fa37207/raw/92d89bc332e39e34ec274f2ec00dc5033db562dd/ISSUE_TEMPLATE.md
[2]: https://www.talater.com/open-source-templates/#/

[2017-01-02 01:51] andrewc2 opened #1211 "iHeartRadio Connector not working custom station"
Tab 891: created controller for connector: {"label":"iHeartRadio","matches":["*://*.iheart.com/*"],"js":["connectors/v2/iheartradio.js"],"version":2}
4inject.js:121 -- subsequent ajax navigation, the scripts are already injected

I've also tried a live station and it's not scrobbling that either.

[2017-01-02 08:14] f1u77y commented on #816
Isn't it useless?

It would be nice to add common steps for resolving the issue. I'd like to suggest these ones:
- [ ] Reauth on last.fm(if it does not scrobble at all)
- [ ] Try to use unpacked extension from latest master
- [ ] Check other issues for dups

[2017-01-02 08:46] alexesprit commented on #816
@f1u77y

I don't really know. Well, I'll remove that section; it can be easily added if we'll need this kind of information sometimes later or just ask users for it in issue comments.

That's a good idea! The "Try to use unpacked extension from latest master" step should be extended by placing URL to page with "Install as unpacked extension" howto, though.

I updated [the template][1] according yo

[2017-01-02 09:00] f1u77y commented on #816
WebExtensions are designed to work identically on all browsers and OSes(OK, at least on Chromium(-based)). If they don't, that's a browser bug, or maybe, some other extension(eg. one of uBlock lists contains ws.audioscrobbler.com for some reason). But I think that's rare cases, so yes, we can ask about OS/other extensions only if it seems to be not our bug.

That's GH limitations. Ideally, there s

[2017-01-02 09:12] alexesprit commented on #816
Could you please also check the contribution guide (see my first comment in this thread)? This guide is designed for developers who want co contribute by proposing PRs, but it also contains information about submitting issues, that possibly duplicates information placed in the issue template. So, I have two questions:
1. Shoud the information for developers be extended? If so, what should be added

[2017-01-02 09:46] f1u77y commented on #816
I think info about editorconfig should be added. Some devs can miss .editorconfig in the repo(especially if they didn't know about it before).

Another point is about connector development. I dunno if it does not contains enough info or people just don't read it properly but I see your points about simplifying connectors in many pull requests. That makes me sure that we need to add some common adv

[2017-01-02 10:35] alexesprit commented on #816
Editorconfig makes development easier, but it's not required since linters we use also follow `.editorconfig` options and they'll generate errors if proposed changes are unacceptable. That's why I didn't note Editorconfig in the guide. But it worth adding information about this.

You're totally right. I noticed that too and I've already updated [this wiki page][1], that mentioned in the guide, and

[2017-01-02 11:33] alexesprit commented on #816
I noted EditorConfig in the contribution guide, and moved the block with examples of connector to the wiki page. I think all detailed information about connectors development should be placed in one place, and the wiki page fits perfectly for that.

[2017-01-02 18:02] andrewc2 commented on #1211
chrome.storage.local = {"Core":{"appVersion":"1.60.2"},"LastFM":{"sessionID":null,"token":null}}

I'm getting a storage error when I install the extension after disabling the main release.

Notification onClicked: 2d60b370-e5f4-47d6-8bcb-118aa6c68327
inject.js:79 -- loaded for the first time, injecting the scripts
inject.js:104 	injecting vendor/jquery-2.1.0.min.js
inject.js:104 	injecting vendor/

[2017-01-02 18:06] alexesprit commented on #1211
What does 'storage error' mean? If you're talking about 'chrome.storage.local...` text, this is not an error.

Ok, I'll look into that. I checked only live stations that were broken too for me.

[2017-01-02 21:45] alexesprit commented on #1211
@andrewc2 I didn't find custom station, but I noticed 'My Stations' (that propably are custom stations) and 'Artist Radio' are broken too. I fixed them, and now all stations and radio should work fine.

Could you check scrobbling again? The updated extension is available at the same URL.

[2017-01-02 23:17] andrewc2 commented on #1211
Yeah that was what I meant by custom station!

Perfect, it's working! Thanks!

[2017-01-03 07:17] alexesprit commented on #1211
Thank you too!

Fixed in c96fb9472f9d73e2fb9716b0e93179dbdb8a965a and will be avaiilable in the next release.

[2017-01-03 07:17] #1211 closed

[2017-01-03 09:34] glennvanderstukken commented on #572
Hello,

Not sure when exactly I opened that ticket, but I haven't been using Tidal for a very long time now. Therefore, I cannot check if the issue persists or not.

Kind regards
Glenn

________________________________
Van: Alexey <notifications@github.com>
Verzonden: zondag 1 januari 2017 10:30
Aan: david-sabata/web-scrobbler
CC: glennvanderstukken; Mention
Onderwerp: Re: [david-sabata/web-scrobb

[2017-01-03 17:29] alexesprit commented on #572
I'll close it because it works for me and other users confirmed it (e.g. #1205).

[2017-01-03 17:29] #572 closed

[2017-01-06 14:31] Awaku opened #1212 "Scrobble for dewtone.com"
They had file to download in .m3u once and i could scrobble it but sadly  possibility listen them is only by website now. Would be great if you can support dewtone.com and let us scrobble that site

[2017-01-07 19:48] mvinaround opened #1213 "RadioPlayer for non BBC stations"
Please add back the RadioPlayer sites like Heart and Kiss and others listed on http://www.radioplayer.co.uk/

[2017-01-07 19:55] mvinaround commented on #1213
possibly because "radioplayer.js' is now radioplayer.min.js

[2017-01-07 21:02] inverse commented on #1213
Correct me if I am wrong. Radioplayer just links to external sites for playing radio (in popup tabs). We would have to add support for these stations individually.

What ones do you feel you're missing?

[2017-01-07 21:50] mvinaround commented on #1213
If it helps, I could make a list of URLs to most of the popular radio
player stations... Give me an example of the format I'm guessing JSON and I
can help you out

On Sat, 7 Jan 2017, 21:02 Malachi Soord, <notifications@github.com> wrote:

[2017-01-07 22:25] inverse commented on #1213
I think it's more we would have to implement one for each of the stations. What ones do you want implemented?

Although from looking at the two you mentioned I am not sure how we would go about implementing connectors for them. They don't seem to show track data and thus not scrobblable

[2017-01-07 22:43] namoscato opened #1216 "Album and duration are never included in "updatenowplaying" request"

[2017-01-07 22:48] alexesprit commented on #1216
I noticed that too.

Have you any information about how duration that specified in 'updateNowPlaying' request is used by Last.fm?

[2017-01-07 22:51] namoscato commented on #1216
@alexesprit, per their [documentation](http://www.last.fm/api/show/track.updateNowPlaying), it just the "length of the track in seconds" (as opposed to the current duration, for example).

[2017-01-08 17:08] #1212 closed

[2017-01-08 17:19] HZNetworks opened #1217 "Spotify"
Spotify web player doesn't work with it. It just says Start by playing some music. Although spotify allows last.fm to be linked directly to the account it still is a issue

[2017-01-08 17:20] HZNetworks commented on #1192
YouTube is working for me

[2017-01-08 17:22] alexesprit commented on #1217
Can't reproduce it, the extension works with Spotify for me:
![image](https://cloud.githubusercontent.com/assets/1119267/21751908/14465f16-d5e0-11e6-81ca-27b50216e5f7.png)

Have you any additional information?

[2017-01-08 17:45] alexesprit commented on #1217
@HZNetworks could you please check possible fix for Spotify? https://github.com/alexesprit/web-scrobbler/archive/spotify-test.zip

[2017-01-09 12:42] sixledg3r opened #1219 "Its not scrobbling anything on the youtube"
![2017-01-09](https://cloud.githubusercontent.com/assets/25007551/21766928/7413ae26-d671-11e6-92e9-39ac5d3c3ba8.png)

[2017-01-09 12:43] sixledg3r commented on #1219
![2017-01-09 1](https://cloud.githubusercontent.com/assets/25007551/21766958/9ff1bef2-d671-11e6-88cc-240bb55da71d.png)

[2017-01-09 12:48] sixledg3r commented on #1219
anyways I would love to get help with this...because I feel like Im the only one with this problem

[2017-01-09 13:40] JanePeppler opened #1220 "Some titles on bandcamp cannot be scrobbled"
Hello, new user here. I have a small record label and am trying to scrobble our releases. Some of them work  (for instance this one: https://mappamundi1.bandcamp.com/album/cabaret-warsaw-yiddish-polish-hits-of-the-1920s-1930s )
and some of them are greyed out
(for instance this one: http://skylark2.com/album/some-assembly-required)

can you tell me why? and how can I fix this? Thanks

[2017-01-09 13:53] inverse commented on #1220
The second link you provided is hosted on a custom domain and as such we cannot know if it's bandcamp or not. To work around this you can in the options configure this to work with custom domains.

@alexesprit Where do you think such documentation should live? IMHO should be in the extension options perhaps?

[2017-01-09 14:31] JanePeppler commented on #1220
Thanks for your answer! But I don't know where I should enter this information. I am finding this whole process mystifying. Thanks for any pointer how/where to proceed with this. By the way, many artists and labels have configured Bandcamp to use custom domain names so this would help a lot of us.

[2017-01-09 14:37] ali-essam opened #1221 "Use YouTube video thumbnail as track art"
I noticed YouTube connector doesn't try to parse track art in anyway and leaves it to song metadata (which is not available sometimes). I was thinking it might be a nice idea to use YouTube thumbnail as a fallback strategy, but the logic of `song.getTrackArt` seems to do the opposite (which is fine in most cases).

So the 2 points I want to discuss are:
- Is using YouTube thumbnail a good idea?
-

[2017-01-09 14:50] alexesprit commented on #1219
@sixledg3r

You're not only one who experiences this issue. I noticed some people also reported problems with Youtube scrobbling in Chrome Web Store comments.

To understand why it's broken, we need some logs. Here are steps how to get them:
1. Run Chrome, open Youtube and try to play some video.
2. Press Ctrl-Shift-I, then select 'Console' tab.
3. Copy all logs and paste on some pastebin service.

[2017-01-09 15:11] alexesprit commented on #1221
Sounds pretty good, but thumbnails should be squared somehow (but I'm not sure if it's possible w/o external services).

 Yes, the thumbnail as fallback is better than as a primary source. Can't say anything about implementation right now, that's not easy question.

[2017-01-09 15:15] JanePeppler commented on #1220
wait, I found it. thanks.

[2017-01-09 15:28] alexesprit commented on #1220
@inverse yes, I think, the options page is a proper place to keep this documentation. This is a good idea, since that feature is not so obvious, especially for new users. Also, the configuration popup should contain some information about URL patterns (I'm not sure if it's neccessary).

[2017-01-09 15:36] JanePeppler commented on #1220
As the newbie in question, I say yes, information about URL patterns is helpful. I had to open notepad to copy your example character by character so I could paste it into the options box.

[2017-01-09 15:50] alexesprit opened #1222 "Custom URL patterns"
Should custom patterns *extend* default ones that are defined in `connectors.js`?

In current implementation default patterns aren't used if at least one custom pattern is defined by user. I suppose it's made intentionally (and code comment proves that).

I don't use this feature but I was confusing when I tried to use it at first time. I mean if user wants to add a custom pattern to Bandcamp, for

[2017-01-09 16:37] inverse commented on #1222
IMHO they should extend the default options. Go with the first approach :+1:

[2017-01-09 17:52] ali-essam commented on #1221
I couldn't find an easy way that doesn't depend on external service, but I found this cool free image resizing service [rsz.io](https://rsz.io), combined with YouTube API you get this.

[code]

![youtube thumb square](https://cloud.githubusercontent.com/assets/5252681/21775999/0f43f214-d6a1-11e6-84d3-7895a6a08331.png)

[2017-01-09 18:09] alexesprit commented on #1221
That's awesome!

I don't think that dependency of external services such as this one is a bad way, because it doesn't require authentication, and it is pretty easy to use.

[2017-01-09 19:45] ali-essam commented on #1221
As for how it might be implemented, I have two ideas in mind:

1. Add another boolean property to `Connector` that would indicate whether the parsed track art should be prioritized or not, and since song has access to connector object it can take the decision.
2. Change `getTrackArt` signature so that in addition to the url it returns a boolean to indicate so (with backward compatibility for other

[2017-01-09 22:51] ftkftw commented on #1217
I've been having this issue for a while now. The built-in Spotify lastfm scrobbler isn't any better.

I suspect the problem lies with the Spotify UI itself. Often I find that the web player UI hasn't updated the song name even though the audio stream has already moved on to the next song.

I'm using AdBlock and blocked all third-party cookies and site data, and am using it in Incognito mode. Don't

[2017-01-10 01:50] sixledg3r commented on #1219
![2017-01-10](https://cloud.githubusercontent.com/assets/25007551/21790882/916907fa-d6df-11e6-825b-5d8526a17ddd.png)

Im not sure what to do next thou...

[2017-01-10 01:52] sixledg3r commented on #1219
![2017-01-10 1](https://cloud.githubusercontent.com/assets/25007551/21790918/c60773ac-d6df-11e6-9ef2-e864b47a945a.png)

here one more

[2017-01-10 02:57] alexesprit commented on #1217
@ftkftw what about fix I posted above? Have you tried to install it?

[2017-01-10 03:16] alexesprit commented on #1219
@sixledg3r  could you please install https://github.com/alexesprit/web-scrobbler/archive/youtube-fix.zip as an unpacked extension and check if it works?

If that updated extension doesn't work, could you install this one: https://github.com/david-sabata/web-scrobbler/archive/236b42c45a955018ae2cb038afff7372fe3bffae.zip?

[2017-01-10 07:39] sixledg3r commented on #1219
So I installed the first one and it didnt work, than I installed the second one, nothing changed...here you go...
![2017-01-10 2](https://cloud.githubusercontent.com/assets/25007551/21797607/50b1a808-d710-11e6-8600-5b813d48d0ae.png)
![2017-01-10 3](https://cloud.githubusercontent.com/assets/25007551/21797608/52c5b59e-d710-11e6-9431-36684df18505.png)

[2017-01-10 11:54] alexesprit commented on #1219
You're running them all at the same time. Please disable other extensions while testing each one.

[2017-01-10 18:52] ftkftw commented on #1217
@alexesprit Did that, but now I'm having no luck re-authenticating the new extension with last.fm

[2017-01-10 18:53] alexesprit commented on #1217
@ftkftw any details?

[2017-01-10 19:00] ftkftw commented on #1217
@alexesprit Clicking on the Re-authenticate button doesn't result in any visual changes aside from the button color changing. I checked the extension's background page/console view and don't see anything relating to the button click. However, if I start playing a song on Bandcamp the console says something about unable to exchange token for session (paraphrasing here).

I've encountered this issue

[2017-01-10 19:11] alexesprit commented on #1217
@ftkftw that's sort of known problem, but there's no steps to reproduce it. I suppose it's a problem on the Last.fm side, but I'm not sure. I tried to resolve this by adding an error notification if auth cannot be performed: https://github.com/alexesprit/web-scrobbler/archive/async-auth.zip. It would be great if you check that too.

That information should be available in the options page console

[2017-01-10 19:45] ftkftw commented on #1217
@alexesprit You are right, the options page console shows something. Network trace shows the gettoken request was successful. However, the extension never prompted me to login to my lastfm account after installing it, so I don't know how useful it is to reauthenticate the extension, if reauthenticating doesn't seem to involve user authentication.

From what I remembered, with the published version

[2017-01-10 19:58] alexesprit commented on #1217
@ftkftw so I guess Spotify scrobbling is working now? The Spotify UI issues are not related to the extension.

It shoud prompt you. Maybe you disabled Chrome notifications in MacOS somehow? How did you authenticated with Last.fm before?

[2017-01-10 20:07] #1207 closed

[2017-01-10 20:12] ftkftw commented on #1217
@alexesprit If by working you mean it turns green, yeah, it never stopped working in that sense for me. However, whatever happened to the UI/browser in the last month or so basically broke Spotify web player scrobbling for me.

Desktop notifications are a hit or miss for me. Back when scrobbling was still consistent, it would go for an hour or more without notifications, and then all of a sudden s

[2017-01-10 20:22] alexesprit commented on #1217
Aah, ok.

Let's wait what @HZNetworks will say about the fix.

[2017-01-10 20:40] ftkftw commented on #1217
Well, thanks for spending time helping me diagnose the issue. Guess I'll go back to the Spotify desktop app for now; sure gonna miss the ad blocking ( ͡° ͜ʖ ͡°)

[2017-01-11 00:24] ftkftw commented on #1217
I think I found the notification bug. I always use Chrome in full screen mode; just now, I switched out of full screen mode, and I am able to see the Chrome notification prompting me to authenticate with lastfm. If I switch back to full screen mode and repeat the same steps I did, I don't see the notification. Hope this helps someone else who's in the same situation.

[2017-01-11 14:00] #1216 closed

[2017-01-11 19:08] sixledg3r commented on #1219
I actually tried at first run them one by one, but I thought that I did that wrong and I ran them all at once later, they didnt work the either way.
![lxtnc90 - imgur](https://cloud.githubusercontent.com/assets/25007551/21862467/a0092122-d839-11e6-98e6-274c9caaea26.png)

![vtw5vui - imgur](https://cloud.githubusercontent.com/assets/25007551/21862366/2c961e16-d839-11e6-866d-309eda87849a.png)

[2017-01-11 19:08] sixledg3r commented on #1219
btw I even installed a clean copy of Windows today, still nothing.

[2017-01-11 19:11] alexesprit commented on #1219
That's odd. Have you any installed extensions that affect Youtube website?

[2017-01-11 20:18] sixledg3r commented on #1219
only thing installed that affects Youtube is adblock, but I had no problems with it before...
since that "new Youtube" update came it stopped scrobbling.
I tried disabling all the extensions and still nothing.

[2017-01-11 20:27] alexesprit commented on #1219
What is the "new Youtube"?

[2017-01-11 21:23] sixledg3r commented on #1219
well I meant when the Youtube changed their interface and some other minor stuff

[2017-01-13 07:07] LiveBeef commented on #1194
Can confirm that pandora doesn't work at all for me. Let me know how and I'll provide relevant logging, etc.

[2017-01-13 14:57] willrun4fun commented on #1194
Pandora not working for me either.

[2017-01-16 13:11] alexesprit commented on #1194
We won't fix Pandora until we find out how to switch to that 'new Pandora' website.

On the other side, someone could provide a saved HTML player page of Pandora, so I can try to fix it.

[2017-01-16 13:12] alexesprit commented on #1219
@sixledg3r do you know to how switch to that new interface?

[2017-01-16 14:50] alexesprit commented on #896
Closed as outdated.

[2017-01-16 14:50] #896 closed

[2017-01-16 14:52] alexesprit commented on #527
Closed as outdated.

[2017-01-16 14:52] #527 closed

[2017-01-16 14:57] alexesprit commented on #664
Closed as outdated.

[2017-01-16 14:57] #664 closed

[2017-01-16 15:01] alexesprit commented on #1068
@who1sJosh @dropdeadtired could you guys please provide saved Pandora main page for inpections?

[2017-01-16 16:40] alexesprit commented on #1026
Added in 8b27475befcddeca566af9a54c9897e387b93434.

[2017-01-16 16:40] #1026 closed

[2017-01-16 16:41] alexesprit commented on #816
Added in  7e345e59d1e34028763fa0d3f3e2fc46df82f739 and 975168c88e9d79a28078f4492d427bb0c9497786.

[2017-01-16 16:41] #816 closed

[2017-01-16 16:45] alexesprit commented on #553
That notification was gone when v1 core was removed.

Atm, the error notification is shown only when authentication with Lasf.fm is failed (was added in 5879dce9818ab4c3d66ac1e9c453bc35733bae89). Clicking on this notification opens Last.fm status page.

[2017-01-16 16:45] #553 closed

[2017-01-16 17:16] alexesprit commented on #938
@eugenesvk The log you provided isn't related to Web scrobbler extension. Are you still experiencing the issue?

[2017-01-16 18:05] sixledg3r commented on #1219
@alexesprit so I just logged out of my account on gmail and yt because I have messages on my other account and guess what?
It started scrobbling again, but as soon is a logged in to my primary account it stopped again.

[2017-01-16 18:08] sixledg3r commented on #1219
do you have any ideas what could be the problem?

[2017-01-16 18:11] alexesprit commented on #1219
@sixledg3r Looks like Youtube were turned on the new version of the website for your primary account.
I don't know how to fix the Youtube scrobbling if we don't know how to switch on the new version of the website by ourselves.

Could you provide a saved Youtube page (where are the 'new design' is), and I'll try to inspect it and fix the issue.

[2017-01-16 18:19] sixledg3r commented on #1219
Hi, again, I have been able to disable the new design after finding out that scrobbler works on my other accounts...and now by disabling it, the scrobbler started to work again...so I guess the new design really is the problem here.
btw here is the prt scr of the new design
http://imgur.com/a/V3A9G

[2017-01-16 18:22] alexesprit commented on #1219
@sixledg3r Unfortunately, screenshots have no information which can help to fix the scrobbling. That's why I asked for a saved page with video player (you still can do it if you're instresting in resolving the issue by pressing Ctrl+S and saving the page).

[2017-01-16 18:29] sixledg3r commented on #1219
I just found out that you can actually do it yourself by clicking "test new features" at bottom of the YT page...here is the screenshot, you can see it here http://imgur.com/a/oYHqA
can i send you the saved page on your mail, it wont upload here... ( sorry I missread what you wrote before, so thats why I printscreened instead ).

[2017-01-16 18:33] sixledg3r commented on #1219
sorry I accidentally clicked "close the issue"...anyways will you give me your email so I can send you files there?

[2017-01-16 18:36] alexesprit commented on #1219
I enabled all features on the Youtube options page, still works.

My e-mail is displayed in my GitHub profile, Feel free to mail me a message.

[2017-01-16 18:39] sixledg3r commented on #1219
not the account features, but this features, it was enabled on my account by it self http://imgur.com/a/s6AFJ ...and I pressed "the escape" icon which was showed to me in the right bottom
corner of the YT page, and it said something like "bring the old youtube back".
and now my scrobbler works again just fine :)

[2017-01-16 18:41] sixledg3r commented on #1219
btw I sent you the email...

[2017-01-16 18:59] alexesprit commented on #1219
@sixledg3r Could you test this version? https://github.com/alexesprit/web-scrobbler/archive/youtube-test.zip

I'm not sure if it works, but it should. (I also figured out why there were no Youtube logs in the console. Should be improved.).

[2017-01-16 19:56] sixledg3r commented on #1219
@alexesprit nah, this one also doesnt work with the new YT and it didnt even recognize the song on the old youtube...
anyways my problem is resolved for now, the first one (default from google chrome store ) works just fine with the old youtube...
you should do some testing with the new youtube though, cuz they might set it as default in the near future...
good luck and thanks for your time :)

[2017-01-16 19:56] #1219 closed

[2017-01-16 19:56] sixledg3r commented on #1219
@alexesprit nah, this one also doesnt work with the new YT and it didnt even recognize the song on the old youtube...
anyways my problem is resolved for now, the first one (default from google chrome store ) works just fine with the old youtube...
you should do some testing with the new youtube though, cuz they might set it as default in the near future...
good luck and thanks for your time :)

[2017-01-17 01:44] LiveBeef commented on #1194
Are you just talking about a saved copy of the webpage? Got you here if that's what you're asking for

[pandora.zip](https://github.com/david-sabata/web-scrobbler/files/709803/pandora.zip)

[2017-01-17 03:28] alexesprit commented on #1194
@LiveBeef yes, thanks, I was talking about the copy of the page.

Could you install the extension from this zip: https://github.com/alexesprit/web-scrobbler/archive/update-pandora.zip and check how it works?

[2017-01-17 03:33] #325 closed

[2017-01-17 03:33] #519 closed

[2017-01-17 03:33] #656 closed

[2017-01-17 07:00] LiveBeef commented on #1194
No change, it still does not recognize there is a song playing

[2017-01-17 11:34] kyurawx1 opened #1225 "What do I do when my web scrobbler isn't scrobbling?"
It shows it's scrobbling but it doesn't show in my profile, I used scrobbler last month and it was working, but I changed my last.fm account and I know I used to do something when I change my account but I don't remember what to do. Can someone help me?

[2017-01-17 12:53] RadianM commented on #1225
Have you tried re-authenticating your LastFM account? Click on the scrobbler icon top right of browser and select Options. Scroll all the way to the bottom of the page and click on the button labelled "Re-authenticate with Last.fm"

[2017-01-17 13:24] alexesprit commented on #1194
What about logs?

[2017-01-17 13:31] alexesprit commented on #1194
I updated the zip file. Could you check the extension again?

[2017-01-17 14:36] alexesprit commented on #1194
Should work fine in the extension from the zip I posted above.
![image](https://cloud.githubusercontent.com/assets/1119267/22024541/5ad8ea5a-dcdb-11e6-88c9-df2da63b1760.png)

Would be great if someone confirms that it works for them.

[2017-01-17 14:43] RadianM opened #1226 "Amazon Alexa scrobbling not working"
EXPECTED: (R.e. issue #911)  install the web-scrobbler Chrome Extension from the Web Store and link to my Last.FM account. Browse to "http://alexa.amazon.co.uk/spa/index.html?#player" and have "Now Playing" content scrobble to last.fm

ACTUAL: The scrobbler icon remains greyed-out indicating that the web page isn't recognized.

Possibly related (?) the Spotify web player isn't scrobbling either -

[2017-01-17 15:08] alexesprit commented on #1226
No, it's not related to Spotify. Spotify scrobbling works fine for me, but some other people reported it doesn't work (see #1217, btw I posted a possible fix for Spotify in that thread).

Try to add '*://alexa.amazon.co.uk/spa/index.html?player' (w/o quotes) as a custom pattern, it should help.
I tried to open URL you provided, and it redirect to another one which doesn't contain number sign.

[2017-01-17 17:33] RadianM commented on #1226
Thanks alexesprit, at least I now have Alxea scrobbling which was my main requirement because it's a great work-around for all kinds of Spotify Connect scrobbling issues at the moment.

I couldn't pinpoint exactly what made it work so I set up a whole new environment and last.fm test account...

- Step 1: After installing the chrome extension, linking to last.fm account, and rebooting PC - no conn

[2017-01-17 17:42] alexesprit commented on #1226
@RadianM Glad to hear it's working for you!

Thanks for note about Alexa URL, I didn't know it can be different, but still valid. I extended the URL pattern in the code, so the connector will handle this URL without adding custom patterns.

P.S. If you're intresting in resolving Spotify issues, please visit #1217 issue. I create a test extension package, that should scrobble Spotify tracks, but no

[2017-01-17 17:42] #1226 closed

[2017-01-17 18:12] RadianM commented on #1217
I'm preparing to try out the spotify-test.zip extension but first I'd like to figure out how to unlink the scrobbler from last.fm! When I granted it permission, last.fm said permission could be revoked from my last.fm settings. Nowhere can I find any such facility.

[2017-01-17 18:16] alexesprit commented on #1217
@RadianM I haven't find such option in Last.fm settings. So, I don't worry about this and just allow Last.fm access everytime.

[2017-01-17 21:22] RadianM commented on #1217
OK, that's working well for me :-)

[2017-01-18 00:17] LiveBeef commented on #1194
Confirmed working. Thanks!

[2017-01-18 06:05] #1068 closed

[2017-01-18 06:05] #1194 closed

[2017-01-18 06:06] alexesprit commented on #1194
@LiveBeef nice, thanks.

Will be available in the next release.

[2017-01-18 06:08] alexesprit commented on #1217
@RadianM sounds good.

[2017-01-18 07:20] alexesprit opened #1227 "Store2 module"
Is there a reason to keep `store2` module and some [migration code][0] in the source code? That code block was added more than 2 years ago, so I suppose all (ok, most of all) users have updated storage.

[0]: https://github.com/david-sabata/web-scrobbler/blob/master/core/background/main.js#L98

[2017-01-18 16:41] alexesprit commented on #1225
@kyurawx1 as @RadianM said before, you should reauthenticate via a button placed in the options page.

I also made a notification of service errors, so users will see a message when scrobbing isn't working due to authentication errors. This feature will be available in the next release. I hope it will help users to understand why the extension doesn't work properly.

[2017-01-18 16:46] alexesprit commented on #1220
I guess the issue is resolved, right?

[2017-01-19 18:00] RadianM opened #1228 "Amazon Echo not scrobbling album plays"
EXPECTED: Amazon Echo can be asked to play a specific album on Spotify, so scrobbling should be the same as selecting the play widget in the Spotify app - which does add the album play to the last.fm library.

ACTUAL: Individual tracks are scrobbled but no album play is registered.

Possible BONUS: I bet this has been asked before, but if the first track is played, and all the subsequent tracks of

[2017-01-20 20:07] ftkftw opened #1229 "Request: support new Spotify web player"
Logged into Spotify web player after using the desktop app for a new days, turns out I have been "selected to test" the new web player UI at https://open.spotify.com:

<img width="1748" alt="new spotify ui" src="https://cloud.githubusercontent.com/assets/12530197/22163732/a6e4c1f4-df19-11e6-9314-60b411fca458.png">

[2017-01-21 08:56] alexesprit commented on #1229
So, how should I enable this new web player?

[2017-01-21 09:11] alexesprit commented on #1229
So, as I understood, this is just an UI for Spotify Desktop app, right? The Spotify app is able to scrobble tracks by itself. Is there a sense to make a connector for this web UI? Have you any use cases of this?

[2017-01-21 09:25] alexesprit commented on #1023
I'm closing this because of following reasons:
1. Looks like no one is interesting in updating of the table.
2. v1 connectors are gone, so there's no sense to mark connectors as v1 and v2 in the table.
3. Connectors tests show the real status of connectors (but there is an exception for tests that checks only availability of web service).

[2017-01-21 09:25] #1023 closed

[2017-01-21 09:34] alexesprit commented on #966
These comments don't contain any useful information how to reproduce issues. I read comments on Chrome Web Store, but all of them are like "It's not working", and they are completely useless to resolve issues.

@BenjaminHCCarr if you still experiencing this same problem (btw, which problem of that ones?), please create a new issue with detailed description. You can find all information about debug

[2017-01-21 09:34] #966 closed

[2017-01-21 10:06] #1204 closed

[2017-01-21 13:28] alexesprit commented on #1228
Unfortunately, I cannot fix this issue. Perhaps, @puthali (as a developer of the connector) could do something.

Btw, feel free to fix it by yourself and propose a PR.

[2017-01-21 16:48] youming-lin commented on #1229
This is a new **web player UI**. I don't know if you have been selected for testing this new UI, but it looks like they are doing A/B testing on the new UI currently:
https://community.spotify.com/t5/Other-Partners-Windows-Phone-etc/New-Web-Player-is-garbage/td-p/1559947

Here is a longer thread: https://community.spotify.com/t5/forums/v3_1/forumtopicpage/board-id/001/page/1/thread-id/172874

I'm

[2017-01-21 16:51] ftkftw commented on #1229
Oops, sorry I posted with my other account I use for work :)
I'll just post it again with the account I used to start this thread for consistency.

This is a new **web player UI**. I don't know if you have been selected for testing this new UI, but it looks like they are doing A/B testing on the new UI currently:
https://community.spotify.com/t5/Other-Partners-Windows-Phone-etc/New-Web-Player-is-g

[2017-01-21 17:15] alexesprit commented on #1229
I didn't select anything, I just opened open.spotify.com and it asks to install desktop application. After installing and starting of it this website was just like web UI for desktop player. That means it doesn't play songs without desktop player. This website looks like on your screenshot, so I decided it's what are you talking about.

Seems like we're talking about different things. That questio

[2017-01-21 17:36] alexesprit commented on #1229
Wow, it suddenly started to show me new web player on open.spotify.com.

[2017-01-21 17:50] ftkftw commented on #1229
I was about to reply, but I guess you found the answer to your question :)

I can take a crack at implementing this if you don't mind it taking some time as I'm new to developing extensions.

[2017-01-21 17:57] alexesprit commented on #1229
I added an experimental support of new website at https://github.com/alexesprit/web-scrobbler/archive/open-spotify.zip. Should work fine. Could you check that?

[2017-01-21 18:06] ftkftw commented on #1229
Testing it right now. It knows that a song is playing but is not able to figure out the song. Looks like `track.getInfo` is returning 400 Bad Request for some reason.

Ah I see. The `artist` and `track` query parameters are switched. Flip those two and it should be good.

[2017-01-21 18:11] ftkftw commented on #1229
I flipped the two selectors in your code and now it's working.

Thanks for the quick implementation!!!!

[2017-01-21 18:16] alexesprit commented on #1229
Thanks for note. I've already fixed that bug. I also fixed an issue when multiple artists were recognized incorrectly (e.g. 'Blood CommandSavant' instead of 'Blood Command, Savant').

I updated the 'open-spotify' branch; the update is available at the same URL.

[2017-01-21 18:23] ftkftw commented on #1229
:+1:

Looks good on my end. Looking forward to the next release!

[2017-01-21 18:27] famewolf commented on #966
You'd probably have better chances to fix things if you didn't wait 8 months to reply.

[2017-01-21 18:54] alexesprit commented on #966
@famewolf I'm sorry, what do you mean?

[2017-01-21 19:01] famewolf commented on #966
I mean that we reported these issues back in May 2016.  If you had asked for more details we probably could have provided them at that time.  8 months later in January 2017 it's doubtful any of the people who encountered the errors are even still using the extension.  Why would they when it didn't work?

[2017-01-21 19:16] alexesprit commented on #966
Well, we already have threads where we discussed a auth issue that some people mentioned in Web Store comments (#981, #458 and some others that are closed as duplicates). As you can see, there's no steps to reproduce the bug in that threads. Looks like no one is interesting to resolve these issues.

[2017-01-22 16:05] eamag opened #1230 "Support for my.mail.ru/music"

[2017-01-22 17:10] jamesimcanespy opened #1231 "Is there a way to scrobble Youtube videos that are being cast to Chromecast etc?"
This is not a bug, but a possible feature request. I listen to a lot of music by casting Youtube to my TV through Chromecast, but that makes the scrobbler unable to recognise that the song is playing. is there a way to fix this?

### Expected Behavior

### Current Behavior

### Possible Solution

### Steps to Reproduce (for bugs)

1.
2.
3.

### Context

### Steps for resolving the issue

- [ ] Rea

[2017-01-22 19:06] alexesprit commented on #1231
@jamesimcanespy What exactly "that makes the scrobbler unable to recognise that the song is playing" does mean?

[2017-01-22 20:30] namoscato commented on #1228
I think this was actually fixed with #1216, which is not released yet. This sort of behavior was what led me down that path. Last.fm does not actually have the concept of "album play", but the lack of album information on the initial "now playing" request prevented track scrobbles from being recorded correctly.

[2017-01-22 21:03] pink999 commented on #1204
this beta is a huge disappointment for many of us)))). Have a great week !

You guys are swell :)

On Sat, Jan 21, 2017 at 2:06 AM, Alexey <notifications@github.com> wrote:

[2017-01-23 14:46] RadianM commented on #1228
OK, I downloaded from branch master and installed as an "unpacked extension". I'm now getting album plays scrobbled. And the connector picked up alexa.amazon.co.uk without me having to add a custom pattern as per #1226 Brilliant!
I'd never paid much attention to scrobbling outside the Spotify desktotp client so hadn't really noticed how album scrobbles were counted.

[2017-01-23 15:15] alexesprit commented on #1228
@RadianM so, the issue is resolved, right?

[2017-01-23 15:16] RadianM commented on #1228
Yes thanks, I have closed it.

[2017-01-23 15:16] #1228 closed

[2017-01-24 10:02] jamesimcanespy commented on #1231
Sorry, that wasn't worded well.
In Youtube, if you are casting to Chromecast, it puts up a queue of songs, rather than play the video directly through the browser. The video will be shown on my TV and the next one in the queue will follow. However, this means that the Scrobbler doesn't recognise the video being played in the browser window, because there isn't one. Is it possible to work around th

[2017-01-24 15:15] #1229 closed

[2017-01-24 15:15] #1230 closed

[2017-01-24 15:16] alexesprit commented on #1230
Will be available in the next release.

[2017-01-25 15:22] bgbrandongomez commented on #1221
I do not know how possible it is to manipulate images just with Javascript, but, the PWA known as https://smaller-pictures.appspot.com/ seems to be able to recompress the images without an external service.

[2017-01-26 04:46] rechdev opened #1232 "Doesn't work with new YouTube layout (?)"
Neither the canary or the release version seem to detect songs for me on YouTube (or any last.fm scrobbler). I just noticed it but I think it's been like this since I got the new Material Design YT layout. Other websites work fine.

[2017-01-26 13:08] alexesprit commented on #1232
@rechdev We discussed this in #1219, bug we didn't find out how to switch to new Youtube website.

[2017-01-26 14:38] baowiak commented on #1219
@sixledg3r - Hi, I've got the same issue as you, but no matter how hard I try, I cannot find the "escape button" you've mentioned. Could you be so kind and attach a screenshoot with the icon marked? (while being on youtube.com/testtube page). Thank you very much in advance!

[2017-01-27 00:10] aphetica commented on #1219
@baowiak The escape button is located on the bottom right of your youtube home page.

![youtubeexit](https://cloud.githubusercontent.com/assets/25377364/22355788/df3ed856-e3fa-11e6-8c9a-0251fc14b366.png)

[2017-01-27 00:31] aphetica commented on #1219
@alexesprit I am experiencing this issue also. Here are my logs. Let me know if you need anything else.

[http://pastebin.com/2KkfXVyG](url)
[http://pastebin.com/gtbwbHSW](url)

[2017-01-27 03:37] sixledg3r commented on #1219
sorry @baowiak  I was not online till now...ye just use the escape button as @aphetica showed in his/her printscreen...

[2017-01-27 09:02] alexesprit commented on #1219
@aphetica I need to know how to enable this new Youtube.

[2017-01-27 19:11] baowiak commented on #1219
@aphetica @sixledg3r  Thank you very much for your replies, however, my YT page just doesn't seem to have such icon. Guess I will simply wait for some scrobbler updates.

[2017-01-29 20:56] alexesprit commented on #1231
Unfortunately, I have no Chromecast, so I can't even reproduce the issue. Don't really know if it's possible to be fixed.

Feel free to resolve the issue by yourself by proposing a PR, though. :)

[2017-01-30 08:44] inverse commented on #1231
@alexesprit I have a chromecast and can investigate - Last time I checked it did work but I can take a look some time and confirm.

[2017-01-30 13:26] daurnimator commented on #669
Whats the status with AMO?

[2017-01-30 15:57] alexesprit commented on #669
Queue Position: 293 of 320.*

*It was about 25 of 300 yesterday, but previous verison of the extension has been disabled by AMO due to a server bug. So I had to upload the new one.

[2017-01-30 16:08] #1049 closed

[2017-01-31 13:20] ifthenelse opened #1235 "Add connector for Spreaker"
Spreaker is one of the top European podcasting services

https://www.spreaker.com

[2017-02-01 03:20] sixledg3r commented on #1219
@baowiak oh sorry man that it didnt work for you...
anyways @alexesprit I am not sure how you still dont know how to enable this new youtube feature, even thou I provided screenshots and instructions on how to enable it...
So here you go again, this time I marked it with red color where to click, I hope you will manage to solve it now.
At the bottom of the youtube tab click on "Test new features",

[2017-02-02 08:50] elachim commented on #896
Hi,

i still have to re-authenticating my last.fm account everytime i open google music in new tab.

Is there any fix for that?

Thanks!

[2017-02-02 08:52] alexesprit commented on #896
@elachim Hi!

No, there's no fix for that. We discuss this in #981; you can find all information we need to fix the issue in that thread.

[2017-02-04 20:11] alexesprit commented on #1219
@sixledg3r I have no "A fresh new look for youtube.com" item on the page, that's why I didn't find how to enable the new layout.

[2017-02-04 22:08] TheInfinit3 opened #1236 "Add Connector for Joy.fm"
I listen to Joy.fm and I am not sure if it possible to create a connector for it as it's a radio station. They do broadcast the author name and name of the song, so if it's possible, that would be great!

https://myradiomatic.com/player/joyfm/player.htm

Thanks!

[2017-02-05 09:02] alexesprit commented on #1235
@ifthenelse could you please explain how to scrobble podcasts? What data should be used as an artist or a track?

[2017-02-06 03:43] #1236 closed

[2017-02-06 03:44] alexesprit commented on #1236
Should be available in the next release. Check the extension from the latest master branch if you want to scrobble from Joy right now. :)

[2017-02-06 15:48] TheInfinit3 commented on #1236
Thanks man!

[2017-02-07 06:01] redelpedron opened #1238 "Soundcloud Playlist (Scrobbling playlist name instead of the song Title)"
![soundcloud](https://cloud.githubusercontent.com/assets/5410887/22679475/82e81ef4-ed3d-11e6-9a34-62c8dbe204e1.png)

[2017-02-07 09:17] alexesprit commented on #1238
Could you provide a URL to that songs?

[2017-02-07 12:04] redelpedron commented on #1238
https://soundcloud.com/garoadmusic/sets/va-11-hall-a-prologue-ost

[2017-02-07 12:42] inverse commented on #1238
Strange - it's scrobbling for me fine with that URL. Well by fine I mean:

![image](https://cloud.githubusercontent.com/assets/713525/22691538/3bbaf026-ed3b-11e6-80c0-25111beab111.png)

[2017-02-07 13:52] redelpedron commented on #1238
My bad it seems that due to the length of the Album or Playlist name trimmed the entire track information.

Thanks

[2017-02-07 13:52] #1238 closed

[2017-02-08 14:48] globularplains opened #1239 "Youtube album scrobbling"
hey sorry but is there a feature in place which allows me to scrobble entire albums? as i'm sure you're aware there are many people who upload albums in their entirety to youtube with helpful timestamps in place and as an avid user of your app it annoys me I can only access one track from the possible over 10 song album.
thank you

### Expected Behavior

### Current Behavior

### Possible Solution

[2017-02-09 13:55] ufjrhrjcicjfj opened #1240 "Pandora.com has a new site layout, since reloading the new site scrobbling stopped working"
### Expected Behavior
logging into pandora.com turns the AS symbol green, notifications are generated and last.fm records a scrobble for each song played (this worked yesterday)

### Current Behavior
logging onto pandora site the scrobbler recognizes pandora.com but doesn't turn green when music is playing and does not scrobble songs. no notifications are generated

### Possible Solution
 reason:

[2017-02-09 16:43] alexesprit commented on #1240
It's known issue and is already fixed. The update will be available in the next release.

P.S. You can use [this HOWTO](https://github.com/david-sabata/web-scrobbler#unpacked-extension) to install the extension from the latest master to make sure scrobbing works fine.

[2017-02-09 16:43] #1240 closed

[2017-02-09 16:45] alexesprit commented on #1239
Duplicate #122.

There's #755, but it's too outdated.

[2017-02-09 16:45] #1239 closed

[2017-02-09 17:28] ufjrhrjcicjfj commented on #1240
alexesprit, thank you for the response, i'll try the howto i just saw this problem this morning.

[2017-02-09 17:32] ufjrhrjcicjfj commented on #1240
Working perfectly, thank you for your patience.

[2017-02-09 19:52] whatisthiswtf opened #1241 "Scrobbler doesn't detect replays on youtube"
Just what the title says. When I click the play button, it doesn't scrobble the song again.
### Expected Behavior

It should scrobble the song again if at least the predefined threshold for a scrobble was reached without moving the play slider (I forget what it's called) or more simply if the play button was clicked again after the song ended. It can also check if the 'loop' option is checked whic

[2017-02-09 20:41] alexesprit commented on #1241
@whatisthiswtf Thanks for reporting the issue!

Are you experiencing this issue all the time or just in certain cases? I noticed some time ago Youtube connector returns zero duration of now playing song in certain cases. This could break the repeat mechanism.

I made the Youtube connector to return zero duration and reproduced the issue.

[2017-02-09 21:02] whatisthiswtf commented on #1241
@alexesprit You are right. I tried with another song and clicking on the play button, pressing the space bar with player active, and selecting loop all work fine.

[2017-02-09 21:10] alexesprit commented on #1241
@whatisthiswtf I added a temporary workaround in https://github.com/alexesprit/web-scrobbler/archive/youtube-repeat-fix.zip. Would be great if you test this version and confirm if the issue is fixed.

If you don't know how to install extensions from a zip file, please use [this howto][1] to do that.

[1]: https://github.com/david-sabata/web-scrobbler#unpacked-extension

[2017-02-10 23:43] Blasman opened #1242 "New Pandora.com Website Update Broke Scrobbling"
The add-on has always worked for me on Pandora.com. However, Pandora just recently revamped their website. The add-on is no longer scrobbling from their website. I am using the latest Chrome browser Version 56.0.2924.87 (64-bit) on Windows 7. Last.fm Scrobbler 1.60.2.

[2017-02-11 05:11] alexesprit commented on #1242
This issue was submitted in #1194 and is already fixed.

[2017-02-11 05:11] #1242 closed

[2017-02-11 05:34] #1220 closed

[2017-02-11 05:41] alexesprit commented on #1014
@hans-juergen I believe #1215 resolves the issue. Could you check the extension from the latest master and confirm that?

[2017-02-11 07:53] Blasman commented on #1242
I should have specified the time frame of the issue. My mistake. It was working about 2-3 days ago. Pandora completely revamped their website only about two days ago. It has only been since then that tracks are no longer scrobbling.

[2017-02-11 12:31] #395 closed

[2017-02-11 12:38] #245 closed

[2017-02-11 12:38] #371 closed

[2017-02-11 12:38] #619 closed

[2017-02-11 12:38] #968 closed

[2017-02-11 12:38] #982 closed

[2017-02-11 12:38] #1021 closed

[2017-02-11 12:52] alexesprit commented on #1241
@whatisthiswtf I fixed this issue in the latest master. Now Web scrobbler should repeat all songs on Youtube. Please install the extension as unpacked one and confirm the fix.

[2017-02-11 13:05] #1227 closed

[2017-02-11 21:04] whatisthiswtf commented on #1241
@alexesprit Nice! I'm testing it now. Update soon...

[2017-02-11 21:51] whatisthiswtf commented on #1241
@alexesprit The song scrobbles now on loop but sometimes doesn't scrobble on play or pressing the space-bar.

I was also on my last.fm page at the same time and noticed that for the latter cases, sometimes the scrobbler would submit play data and sometimes it wouldn't. Or, that a previous scrobble would show up while I'm scrobbling the next play of the song. In total, I had played the song maybe 7

[2017-02-12 11:56] hans-juergen commented on #1014
I'm playing the Peter Gabriel live bootleg now, and the tracks do scrobble except  for the first one. I get a notification popup from the extension v1.61.0 in Chrome 57 beta when the next track starts, and my Recent Tracks on my Last.fm profile show the Now Scrobbling track with yellow background a few seconds later. The track gets scrobbled after 50% of duration, so that is all OK now. But I woul

[2017-02-13 01:57] Blasman commented on #1240
I followed these instructions and it works now as well. I just wanted to say thanks!

[2017-02-13 04:13] alexesprit commented on #1240
I'd say the latest release from Chrome Web Store scrobbles Pandora fine.

[2017-02-13 13:10] f1u77y commented on #1232
[This instruction](https://thenextweb.com/google/2016/05/02/youtube-getting-googles-material-design-heres-enable-now/) on how to switch to new YT works fine for me. And it really does not work.

[2017-02-15 19:00] alexesprit commented on #1232
I've added experimental support for Material design in https://github.com/alexesprit/web-scrobbler/tree/material-youtube. Would be cool, if someone checks if it works.

[2017-02-15 19:17] f1u77y commented on #1232
@alexesprit a few issues I've noted:
* When going to a user page with video(e.g.
https://www.youtube.com/user/greenday), artist and title are not recognized
* When going to some page without video from page with song(e.g. any
commenter page from https://www.youtube.com/watch?v=wvu2-xQUNQI), the
song from previous page is still marked as now playing

(too lazy to check for these issues on current Y

[2017-02-15 19:21] alexesprit commented on #1232
https://www.youtube.com/user/greenday), artist and title are not recognized

It's not a regression; such feature isn't implemented yet.

commenter page from https://www.youtube.com/watch?v=wvu2-xQUNQI), the
song from previous page is still marked as now playing

Ok, I'll look into that. I'm currently fixing another issue, which is related to this one.

[2017-02-15 20:08] alexesprit commented on #1232
@f1u77y I updated the branch; the connector should handle navigation to non-video pages properly.

The update also contains some fixes for default Youtube player.

[2017-02-16 06:32] regagain commented on #669
Hi guys!

Will there be support for Firefox for Android as well?

Also, just wanted to let you know that FoxyScrobbler, the extension recommended by Last.fm for Firefox scrobbling, is not working anymore and the developer does not seem too keen on fixing it: https://getsatisfaction.com/lastfm/topics/problem-with-firefox-scrobbling-music
There is definitely a lot of people who would be interested i

[2017-02-16 11:18] f1u77y commented on #669
Firefox for Android supports too little subset of WebExtension API,
therefore porting this extension would be difficult. And there're too
few people that use Fx for Android and much fewer that listen some music
with it(people usually use non-browser apps for that on Android).

All Last.FM recommendations are a bit outdated. I am fx user, and this
extension(with compatibility patches in #1165) work

[2017-02-16 13:39] f1u77y commented on #1232
Yes, now it handles navigation.

(Is it possible to make tests for proper navigation handling? This could
be useful not only for YT)

On 02/15/2017 11:08 PM, Alexey wrote:

--
Bogdan Sinitsyn

[2017-02-16 14:05] alexesprit commented on #1232
Ok, thanks for reply.

I don't know. Perhaps, it's possible, but the code should be refactored at least.

[2017-02-16 19:35] inverse commented on #669
What is AMO?

[2017-02-16 20:56] hilgi opened #1243 "Stopped with Aamazon"
After I reauthorized it did work for a couple days, not it stopped again.

[2017-02-17 04:20] #1225 closed

[2017-02-17 12:08] alexesprit commented on #1243
@hilgi [How to debug extensions.](https://github.com/david-sabata/web-scrobbler/wiki/How-to-debug-the-extension)

[2017-02-17 12:09] alexesprit commented on #1241
@whatisthiswtf did you tested the extension from the master or from zip file?

[2017-02-17 12:11] alexesprit commented on #1232
@rechdev Could you also check the extension from "material-youtube" branch and confirm it works well?

[2017-02-17 12:39] rechdev commented on #1232
It seems to be working now, thank you! (speaking of it not working on redesigned websites, it doesn't work on the new Spotify web player, should I open a new issue on that?)

[2017-02-17 13:26] alexesprit commented on #1232
@rechdev ok, thanks for information.

Strange, it's should work. Yes, feel free to open a new issue, but please provide proper info in issue description (logs etc).

[2017-02-17 13:28] #1232 closed

[2017-02-17 15:23] whatisthiswtf commented on #1241
@alexesprit From the zip file.

[2017-02-17 15:24] alexesprit commented on #1241
@whatisthiswtf Please test the extension from the latest master, it's should scrobble repeated songs better.

[2017-02-17 15:32] whatisthiswtf commented on #1241
@alexesprit Ok I will report back in some time. Maybe a day or two.

[2017-02-17 15:42] hilgi commented on #1243
chrome.storage.local = {"Core":{"appVersion":"1.61.0"},"LastFM":{"sessionID":null,"token":null}}
lastfm.js:97 getToken response: <?xml version="1.0" encoding="utf-8"?>
<lfm status="ok">
  <token>xxxxx1u9yeFalUZf5mgum18a-vC_waLy</token>
</lfm>

notifications.js:229 Notification onClicked: 0802a1df-5115-49fb-916a-5cf7535e133b
inject.js:33 -- loaded for the first time, injecting the scripts
inject.js

[2017-02-17 20:26] aemarcsen opened #1244 "Add support for monstercat.com?"
I listen to a lot of music on monstercat.com and I can imagine many do. Would love to see it added to the srobbler.

[2017-02-18 10:01] IRainman commented on #669
Version 1.60.3 nothing scrobble. Prior to that there was some sort of seem to 1.59, and it worked. Damn, now I do not even know where to get an older version :(

[2017-02-18 10:06] alexesprit commented on #669
What does "nothing scrobble" mean? Have you tried to use v1.61.0? It's available on GitHub releases page.

P. S. Please file all Firefox version bugs in Gitter chat.

[2017-02-18 10:17] IRainman commented on #669
@alexesprit I try to only signed versions for Firefox from here: https://drive.google.com/drive/folders/0B3SDlhZ1oahMaEQ5VVBUSWtod3c

"Nothing scrobble" means that when you start playing an extension does not see that it started.

v1.61.0 works fine. Thank you! Please, please correct link in my post above, that she was here: https://github.com/david-sabata/web-scrobbler/releases

[2017-02-19 09:17] #922 closed

[2017-02-19 09:18] #827 closed

[2017-02-19 09:22] alexesprit commented on #860
Chrome doesn't show notifications when it in fullscreen mode. You should quit this mode, then reauthenticate using the button on the extension options page.

It's possibly to do not show notification and to force open tab directly on MacOS; is it right solution of the problem?

[2017-02-19 09:23] alexesprit commented on #893
Closes as outdated.

[2017-02-19 09:23] #893 closed

[2017-02-19 09:28] alexesprit commented on #872
Closed as outdated.

[2017-02-19 09:28] #872 closed

[2017-02-19 15:09] #1222 closed

[2017-02-19 15:13] #1244 closed

[2017-02-19 15:14] alexesprit commented on #1244
Will be available in the next release. You can use it right now by installing the extension from the latest master though.

[2017-02-21 09:27] remi-douteaud opened #1245 "Have to tag every song of my playlist even if I have already tagged it manually"
### Expected Behavior
When playing again the same video, should recognize it and scrobble it again.

### Current Behavior
I'm playing a huge playlist of korean song (so the automatic recognition is a mess). I tagged them every time a new one was played but realized even the ones I've already tagged are not recognized after.

### Possible Solution
* Save previously scrobbled songs based on song ID.

[2017-02-21 09:57] inverse commented on #1245
Duplicate of #291

[2017-02-21 10:23] #1245 closed

[2017-02-21 15:35] alexesprit commented on #1245
No, it's not a duplicate of #291, but such feature is already implemented and will be available in the next release.

[2017-02-23 00:22] hilgi commented on #1243
Is that what you need?

[2017-02-23 03:25] alexesprit commented on #1243
Yes.

Unfortunately, I have no access to Amazon, so I can't fix the issue.

[2017-02-23 17:40] hilgi commented on #1243
Is there anything I can do?

[2017-02-24 07:43] alexesprit commented on #1243
@hilgi if you're familiar with JS and CSS, you can fix the connector by yourself.

Perhaps, @mft or @Paszt could fix that.

[2017-02-24 18:42] hilgi commented on #1243
I am not but if they need any info or help from me, I can try.

[2017-02-25 02:50] whatisthiswtf commented on #1241
@alexesprit Everything seems to be working fine! :+1:

[2017-02-25 04:04] alexesprit commented on #1241
@whatisthiswtf Thanks for reporting! The next update from Chrome Web Store should scrobble repeats fine!

[2017-02-25 04:04] #1241 closed

[2017-02-25 16:30] mrweiss commented on #958
I don't think juqster even exists anymore

[2017-02-26 05:52] alexesprit commented on #958
@mrweiss Thanks for reminding me. I noticed some time ago the service isn't available, but I forgot to write about it in this thread.

@primmer feel free to reopen the issue if the service will be available again.

[2017-02-26 05:52] #958 closed

[2017-02-26 11:12] inverse commented on #1231
Confirmed it doesn't work

[2017-02-26 21:14] #865 closed

[2017-02-26 21:15] alexesprit commented on #865
@ali-essam now the extension should scrobble fine in fullscreen mode.

[2017-02-27 18:00] Paszt commented on #1243
It works for me.
As always when submitting a bug, an explanation of what you did and what happened is always helpful. Did you press play? If so what happened? (what color icons, did they change, etc). What URL are you trying this from. etc...

[2017-02-27 20:08] hilgi commented on #1243
@Paszt Thanks. I go here https://music.amazon.com/my/songs?ie=UTF8&ref_=nav_shopall_webplayer
click songs and then play. The scrobble icon just stays red.

[2017-03-01 00:58] mft commented on #1243
I can reproduce this.
When a track is played from "Songs", the album title is undefined, but is passed to a filter.
Then the filter excepting a string fails with
"Uncaught TypeError: Cannot read property 'replace' of undefined".

I think the expectation is that getAlbum returns always a string.

[2017-03-01 04:00] alexesprit commented on #1243
@mft Thanks for reply! I reproduced this issue too using synthetic function that returns undefined result.

All should be fine in the latest master. Could someone test it and confirm the issue is resolved?

[2017-03-01 19:33] hilgi commented on #1243
@alexesprit Does that mean it won't work until the new version is released?

[2017-03-02 04:05] alexesprit commented on #1243
@hilgi yes. You can install the fixed extension from the latest master, though.

[2017-03-02 18:38] hilgi commented on #1243
@alexesprit Thanks, is there a walkthrough on that?

[2017-03-03 05:05] DuckFlagellant opened #1250 "Can't Scrobble with ViewTube"
I recently installed the [ViewTube](https://github.com/sebaro/ViewTube) script via Tampermonkey on Chrome, and it seems the scrobbler extension is unable to recognize the ViewTube script since I can no longer scrobble on YouTube. The scrobbler extension had no problems recognizing YouTube videos before I installed ViewTube. Is there any way to fix this problem that doesn't involve uninstalling Vie

[2017-03-04 04:46] alexesprit commented on #1250
ViewTube uses another videoplayer, that's why the extension cannot recognize videos. Although, I can add support for the script with some limitations:
* Play/pause won't work;
* Replays won't work.

[2017-03-04 06:08] alexesprit commented on #1221
An example of implementation is https://github.com/alexesprit/web-scrobbler/tree/trackart-priority.

[2017-03-04 06:41] DuckFlagellant commented on #1250
Those limitations won't bother me, all I need is basic scrobbling. Thank you so much!

[2017-03-04 08:41] #1250 closed

[2017-03-04 08:42] alexesprit commented on #1250
Should scrobble with installed ViewTube script in next release. Btw, you can install the extension from the latest master to get the update right now.

[2017-03-04 09:25] inverse commented on #1221
@alexesprit What does the priority mean?

[2017-03-04 09:47] alexesprit commented on #1221
@inverse it's a property that allows to force the use of trackarts from external sources (Last.fm, coverart archive etc) even if a parsed trackart is defined. In current implementaion parsed trackarts are always preferrable.

[2017-03-04 16:33] plaxin opened #1251 "Idea: about the grey question mark icon in Google Play Music"
### Grey question mark icon in Google Play Music
I think that this grey icon in Google Play Music inappropriate, as there are official names of the tracks and scrobbling the logic must go at once, without the confirmation of artist and title song.

With ❤️️ from 🇷🇺

[2017-03-04 16:37] alexesprit commented on #1251
The logic of song recognition is common for all connector. I don't think that separate logic for different connectors is a good idea.

As alternative, I'm planning to add new option; if this one is enabled, songs will be recognized by the extension even if they are unknown by Last.fm.

[2017-03-04 16:43] plaxin commented on #1251
good idea, look forward to, thanks

[2017-03-04 16:43] #1251 closed

[2017-03-05 14:43] mrweiss commented on #1059
working on it (cant assign myself, though)

[2017-03-05 15:16] mrweiss opened #1252 "Move the get background-image Css image Url functionality to core + refactor the others"
Working on a connector and I need to extract an image URL from the background-image property - simple task.

Noticed there's existing code in other connectors as well (like mailrumusic.js and others) so I think the URL parsing logic and background-image selection could be moved to core so that all connectors can just specify the containing div selector and default filename if any.

Proposed:
Conne

[2017-03-05 15:28] alexesprit commented on #1252
I'm working on `util` module that contains all utility functions currently placed in the `connector` module. This module already contains extracting function (I named it `extractUrlFromCssProperty`).

Usage:
[code]

I think that's better way than the first one, but `background` property should be parsed too.

I also pushed commits in a `util` branch, just for demonstration: https://github.com/alex

[2017-03-05 15:42] mrweiss commented on #1252
yeah, Util class sounds like the correct place for that

agree, better to use one property and check all three scenarios (img src? background-image? background?)

[2017-03-05 16:37] aliciacbu opened #1253 "Could you add Jazz24, please?"
Web - http://www.jazz24.org/
Player - http://v6.player.abacast.net/854

Thank you!

[2017-03-05 20:24] inverse commented on #1252
I think having this logic wrapped in a Util would make the most sense. It would allow for much better test-ability too.

However don't let that hold you up with implementing a connector :+1:

[2017-03-05 20:25] DuckFlagellant commented on #1250
I just tried the latest master with ViewTube and it's working great! Thank so much for taking the time to add support for it, I'm really liking your extension!

[2017-03-06 14:36] hans-juergen opened #1254 "New Spotify web player has a new interface and no internal Last.fm scrobbling option anymore"
This seems to be the new web player interface that Spotify is rolling out to all users at the moment:

![spotify_newwebplayer](https://cloud.githubusercontent.com/assets/4970867/23614190/6b46b148-0282-11e7-9d1e-e12037dac043.jpg)

There are no settings anymore, so you cannot add your Last.fm username and password anywhere. And the playbar is at the bottom now like in their desktop app, so your exte

[2017-03-06 14:48] alexesprit commented on #1254
We added support for new Spotify web player in v1.61.0.

I tested the connector yesterday, and it worked fine.

[2017-03-06 14:55] hans-juergen commented on #1254
Oops, I just noticed I had disabled the extension in Opera. It's scrobbling now like it should, great and sorry for that! ;-) Is it supposed to still work with the old interface as well, as I have read several reports recently that users suddenly have problems with scrobbling?

[2017-03-06 14:59] alexesprit commented on #1254
Yes, I haven't remove the old connector, and the extension should work with old web player as well (I don't know if it still accessible, though).

[2017-03-06 15:09] hans-juergen commented on #1254
I have just checked the old player URL in Opera and Chrome, and I still get the old interface there:

https://play.spotify.com/

The screenshot above was made while accessing https://open.spotify.com/, but I don't know if this works for everyone in every country with these browsers.

[2017-03-07 04:29] alexesprit commented on #1254
It redirects me to new website every time I click on URL. Looks like Spotify enable new version of their website eventually.

Anyway, I have no intention to remove the old connector, and I'll keep support for old website for some time. So I guess, the issue is resolved, right?

[2017-03-07 09:06] hans-juergen commented on #1254
I have checked that URL again with MS Edge, and it also shows me the old interface, so I guess Spotify has not established the redirect to open.spotify.com for all users yet. Anyhow, keeping support for it is a good idea, and the issue is resolved.

[2017-03-07 09:25] #1254 closed

[2017-03-07 12:02] alexesprit commented on #1252
@mrweiss I updated the branch, see https://github.com/alexesprit/web-scrobbler/commit/873312a2c9de6e0d51f5aab0af136ffd39d366da commit. Is anything should be added or changed?

I also suggest to move check for default covertart to `connector` module. That means the base connector will have a function named `isTrackArtDefault` which takes track art URL as an agrument and return false result by defau

[2017-03-07 20:08] mrweiss commented on #1252
@alexesprit the code looks good, that's how I'd write it :)

just one thought, if we're parsing the css background property as well, we might need to remove the start of word from the regex, according to the spec it is not guaranteed to ve 'url(..)' .. or maybe I'm just overcomplicating things :)

https://www.w3schools.com/cssref/css3_pr_background.asp

[2017-03-07 20:24] alexesprit commented on #1252
Yep, I agree. Will update the code soon.

Btw, I have no plans to merge commits into the master branch right now, so for now you can just copypaste extracting code to connector you're working on.

[2017-03-07 21:23] inverse commented on #1252
The later looks easier to read in my opinion. It's less concise but it's clearer to follow.

[2017-03-08 12:02] #1253 closed

[2017-03-08 12:25] alexesprit commented on #938
Closed as outdated.

[2017-03-08 12:25] #938 closed

[2017-03-09 14:00] mangomalte opened #1255 "Add functionality to switch Title and Artist values with each other in popup."
Often when I listen to music on YouTube, people have put the song title first in the title of the video, and the artist name second. When this happens, I have to copy and paste the values between the two fields. It would be nice to have a simple button to switch the values between the two fields.

[2017-03-10 08:14] LaHaine opened #1256 "Cannot install Firefox extension on Firefox ESR 45.8.0"
Firefox ESR 45.8.0 cannot install the Extension v1.61.0.

### Expected Behavior
It should install the file when opening web_scrobbler.xpi .

### Current Behavior
When I try to open the file, I get the error that the extension cannot be installed because it is damaged.

### Steps to Reproduce (for bugs)
I have tried it with the ESR version of Firefox on Scientific Linux 6.8. I have downloaded web_s

[2017-03-10 09:09] mangomalte opened #1257 "Make it possible to edit the values in the popup even though a match is found"
At times, an erroneous Artist and Track combination is found, and it's then impossible to change the values.

### Expected Behavior
I would like to have an edit button in the popup to use to go to the view where you fill in the artist and track information, if you know that the information is wrong.

### Current Behavior
Currently, there is only track information and functionality to love the trac

[2017-03-10 09:34] alexesprit commented on #1256
**TL; DR:** Current behaviour is expected and won't be fixed.

It's not damaged. This extension uses WebExtensions API, which are available since Firefox 48. To make the extension work on Firefox version lower that 48, we need to rewrite all code using Firefox API that will be deprecated and be dropped in near future.

[2017-03-10 09:34] #1256 closed

[2017-03-10 09:36] alexesprit commented on #1257
It is possible to edit songs even if they're recognized by the extension (btw, you should check the extension from the latest master first), but new version isn't released yet.

[2017-03-10 09:36] #1257 closed

[2017-03-10 09:39] alexesprit commented on #1255
Have you any suggestion where to place this button?

[2017-03-10 09:49] mangomalte commented on #1255
Something like this? It's not very pretty, but that's what I was thinking.
![button](https://cloud.githubusercontent.com/assets/26303743/23790245/9d29bd3c-057e-11e7-9b5e-7c198a7d9ff7.png)

[2017-03-10 10:17] LaHaine commented on #1256
I see, thanks. As Firefox ESR 52.0 is already out, I'll just have to wait until it is updated by Red Hat. Could you please add the required Firefox version to the documentation?

[2017-03-10 10:30] alexesprit commented on #1256
Which documentation do you mean?

[2017-03-10 10:33] LaHaine commented on #1256
I don't know, the download page on github?

[2017-03-10 10:40] alexesprit commented on #1256
I'm not sure if the download page is a proper place to put a note of required Firefox version, because:
1. Firefox is not supported oficially, that builds are experimental (see #669).
2. This information should be duplicated in every releases notes. I don't think it's good.

If the extension will pass AMO review (and will be oficially supported), I'll add this information in the readme file.

[2017-03-10 10:55] peczony opened #1258 "Improve ‘grey question mark’ logic"
Sometimes a grey question mark appears while scrobbling, prompting me to correct the song title and artist. The result of the correction isn’t saved anywhere, but that’s a whole another story.

What bothers me is that 90% of the time when I click on the grey question mark, the title and artist displayed are totally correct. I just have to click on the scrobbler each track to confirm the scrobble.

[2017-03-10 11:49] f1u77y commented on #1256
We can have(or generate) separate manifests for Chromium-based and
Firefox(w/o and w/ `"applications"` entry respectively) for better error
message in old Fx(something like "your version is not supported").

On 03/10/2017 01:40 PM, Alexey wrote:

--
Bogdan Sinitsyn

[2017-03-10 11:51] f1u77y commented on #1258
"Use autocorrect(global)" option is responsible for this behaviour.

On 03/10/2017 01:55 PM, Alexander P wrote:

--
Bogdan Sinitsyn

[2017-03-10 11:56] f1u77y commented on #1255
I'm doing some work on #1143; this solution should make such button(and
many other types of corrections) not needed.

On 03/09/2017 05:00 PM, mangomalte wrote:

--
Bogdan Sinitsyn

[2017-03-10 12:51] alexesprit commented on #1258
Duplicate of #1066 and #786.

This feature will be implemented later.

It won't help in most of cases.

[2017-03-10 12:51] #1258 closed

[2017-03-11 14:54] Mortal commented on #669
Web scrobbler 1.61.0 works fine in Firefox 52.0 for me - at least I've been scrobbling for 10 minutes now and it appears just fine on my Last.fm account.

[2017-03-12 14:37] alexesprit commented on #1243
Should work fine in v1.62.0.

[2017-03-12 14:37] #1243 closed

[2017-03-12 14:41] alexesprit commented on #1217
I'm closing this issue because looks like new Spotify player is default for most users; the issue is not related to current web player.

[2017-03-12 14:41] #1217 closed

[2017-03-12 14:42] alexesprit commented on #1060
I'm closing this issue because looks like new Spotify player is default for most users; the issue is not related to current web player.

[2017-03-12 14:42] #1060 closed

[2017-03-12 14:42] alexesprit commented on #889
I'm closing this issue because looks like new Spotify player is default for most users; the issue is not related to current web player.

[2017-03-12 14:42] #889 closed

[2017-03-12 14:43] alexesprit commented on #804
I'm closing this issue because looks like new Spotify player is default for most users; the issue is not related to current web player.

[2017-03-12 14:43] #804 closed

[2017-03-12 15:46] alexesprit commented on #1252
Added in d3a109377e51cfa2eb9af3473a797fed64b83b40.

[2017-03-12 15:46] #1252 closed

[2017-03-12 16:06] alexesprit commented on #997
Added in #1002 with some changes.

[2017-03-12 16:06] #997 closed

[2017-03-12 16:19] #786 closed

[2017-03-12 16:19] #1066 closed

[2017-03-12 16:36] alexesprit commented on #1256
I made this in the latest release for Firefox (v1.62.0). Haven't tested it yet.

[2017-03-12 17:23] alexesprit commented on #1221
Updated the branch; renamed `trackArtPriority` to `trackArtProvider` property which can takes two values: 'core' and 'corrector'. Not sure if the code looks easier to understand.

[2017-03-12 17:27] inverse commented on #1221
Having priority was a bit confusing - I think the new naming makes sense if it's clearly documented. What does `corrector` mean though?

Is the idea to simply the flow for common patterns of extracting the track art?

[2017-03-12 17:29] alexesprit commented on #1221
Oops, that was a typo. 'connector', of course.

[2017-03-12 17:46] alexesprit commented on #1221
I also noticed rsz.io sometimes down. That's bad. :(

[2017-03-13 16:31] hilgi commented on #1243
works, thanks!

[2017-03-14 02:11] Kolsig opened #1260 "Youtube wont scrobble,"
Tried to Scrobble and it didn't work, then I went to reauth but when I press the button nothing happens.

[2017-03-14 03:52] alexesprit commented on #1260
[How to debug extensions.](https://github.com/david-sabata/web-scrobbler/wiki/How-to-debug-the-extension)

[2017-03-14 03:55] alexesprit commented on #1260
Plus, please provide detailed information (e.g. logs, current version of the extension, browser you use), that were mentioned in the issue template.

[2017-03-14 10:00] aghiadyazji opened #1261 "Pandora not scrobbling anymore after changing to the new UI"
Pandora recently redesigned the website with a new UI, I think they have changed their APIs as well.
so the scrobbling is not working anymore.

[2017-03-14 10:53] Delawen commented on #1260
Same happens with me. I have reauthenticated several times. After a fresh reauthenticate (should it show something when I click on the reauthenticate buttton? Because it doesn't):

[code]

[2017-03-14 10:59] Delawen commented on #1260
At least in my case it is obviously a problem with authentication, but I don't know how to solve it or why is a problem. I am correctly logged in in last.fm.

[2017-03-14 14:34] Delawen commented on #1260
When I try to authenticate using the options page of the plugin, I get this on the javascript console:

[code]

[2017-03-14 15:06] alexesprit commented on #1260
@Delawen oops, that's bad. I reproduced this. fixing right now.

[2017-03-14 15:18] alexesprit commented on #1261
Works fine for me with new UI.

[How to debug extensions.](https://github.com/david-sabata/web-scrobbler/wiki/How-to-debug-the-extension)

[2017-03-14 15:20] alexesprit commented on #1260
@Delawen I uploaded a patch update (v1.62.1) to Chrome Web Store, could you please update and confirm it works now?
@Kolsig could you also update the extension and tell me it's ok now?

[2017-03-14 15:24] Delawen commented on #1260
Perfect on my side :)

[2017-03-14 15:25] alexesprit commented on #1260
@Delawen nice, thanks for reporting!

[2017-03-14 15:26] alexesprit commented on #1261
I suppose it's related to #1260. Could you please update to v1.62.1 and check scrobbling again?

[2017-03-14 15:53] alexesprit commented on #1260
I'd also say it's not enough to be just logged in to Last.fm. Last.fm should grant access to the account to the extension. That's why the extension shows the notification.

[2017-03-15 10:57] aghiadyazji commented on #1261
Thanks @alexesprit for the quick response,
yeah you are right! It's working now :)

[2017-03-15 11:06] #1261 closed

[2017-03-15 17:21] anton0kurilov commented on #1260
I still have a problems with scrobbling from Youtube.
Chrome v.57.0.2987.98, Windows 10 Home, Last.fm Scrobbler v.1.62.1

[2017-03-15 17:37] alexesprit commented on #1260
@anton0kurilov can't reproduce the issue using your description in your comment. The screenshot looks odd.

[2017-03-15 17:56] usernameeeeeee opened #1262 "spotify web player: no album name detected"
When scrobbling from spotify in chrome web browser, the songtitle and the artist name get detected perfectly fine, except the album name never gets detected for any title.
Ofcourse, it can be written down manually in the empty third row, but doing this for every single song is pretty stressfull. Does anybody experience a similar problem or knows how to fix this?
Thanks!

[2017-03-15 17:59] alexesprit commented on #1262
Spotify doesn't show album title in the player bar, so I'm not sure it can be fixed.

[2017-03-16 11:29] anton0kurilov commented on #1260
@alexesprit
[code]

[2017-03-16 16:46] alexesprit commented on #1260
@anton0kurilov the log doesn't look ok, but I still cannot reproduce the problem. Have you any additional information (e.g. installed extensions that could prevent scrobbling, steps to reproduce etc)?

[2017-03-17 02:38] anton0kurilov commented on #1260
@alexesprit I managed to catch a bug. If enabled Material Design on YouTube ([this](https://www.reddit.com/r/youtube/comments/4yin6w/force_the_new_material_layout_when_logged_in/)), the extension has not scrobbling.

[2017-03-17 03:23] alexesprit commented on #1260
@anton0kurilov I already added support for Material design, can't understand why it doesn't work. I'll look into that again.

[2017-03-17 03:35] alexesprit commented on #1260
@anton0kurilov I enabled Material design using the instruction you provided, but it still works (but I needed to refresh tab one time, looks like Youtube issue).

[2017-03-17 09:36] #1262 closed

[2017-03-17 09:37] alexesprit commented on #740
Closed as outdated.

[2017-03-17 09:37] #740 closed

[2017-03-17 14:37] anton0kurilov commented on #1260
@alexesprit It works! Is it possible to correct this error?

[2017-03-17 15:30] alexesprit commented on #1260
@anton0kurilov I made an attempt to fix connector, works fine for me for both players in all modes. Could you please check the extension from this zip: https://github.com/alexesprit/web-scrobbler/archive/youtube.zip? If it's ok, I'll roll out a new patch release to web store.

[2017-03-17 16:53] raetrakt commented on #1260
@alexesprit can't speak for anton, but this definitely solved it for me. thank you!

[2017-03-20 13:04] inverse commented on #235
@alexesprit should we close this? I feel like it's sufficient now unless we want to regularly run tests nightly to verify connectors are still valid. Although I feel like this might give a lot of false positives.

[2017-03-20 13:05] inverse commented on #342
We could probably close this now. It's almost 3 years old.

[2017-03-20 13:42] alexesprit commented on #235
Yes, there're some false positives, so I don't think it's worth running these tests regularly. I run it 1-2 times before releases, that's enough for me.

I think we should, if there's nothing to discuss.

[2017-03-20 13:47] alexesprit commented on #342
Is this issue resolved? I didn't notice multiple injection, except the case I described in #1175.

[2017-03-22 11:44] neeraj586 opened #1263 "Not scrobbling from youtube"
When I play from youtube, scrobller extension is not detecting.

### Expected Behavior
Till last week the extension was working fine and was detecting whenever I played something frm youtube.

### Current Behavior
Scrobbler extension not detecting when a song is played on youtube. tried re-authenticating last.fm. Still didn't work.
![image](https://cloud.githubusercontent.com/assets/20701815/24196

[2017-03-22 14:53] alexesprit commented on #1263
Have you read the conversation #1260? I posted a comment with URL to updated version.

[2017-03-23 01:44] mvinaround commented on #1213
Sorry, been away for a while, Yeah the ones I listed above show it providing there's not a set dj on doing a show... for example Heart use a span with the class "song-text" to display the track playing...

![image](https://cloud.githubusercontent.com/assets/9600680/24228118/062e1216-0f6a-11e7-9f30-071a1a4cdd24.png)
![image](https://cloud.githubusercontent.com/assets/9600680/24228134/2d60b0d2-0f6a-

[2017-03-23 01:46] mvinaround commented on #555
Samsung Milk has closed now.

[2017-03-23 03:03] mvinaround commented on #1213
Ok, so i pulled the source for this down and have managed to get it working for most of the radio player sites...

![image](https://cloud.githubusercontent.com/assets/9600680/24230128/49f24372-0f75-11e7-9742-8264a2c9179b.png)

[2017-03-23 04:17] #555 closed

[2017-03-23 06:46] neeraj586 commented on #1263
Look's like it's fixed.

Thanks for the response

On Wed, Mar 22, 2017 at 8:23 PM, Alexey <notifications@github.com> wrote:

--
Thanks
Neeraj <neeraj586@gmail.com>

[2017-03-23 06:56] #1263 closed

[2017-03-23 07:00] alexesprit commented on #860
Closed as outdated.

[2017-03-23 07:00] #860 closed

[2017-03-23 15:07] MedievalFluff opened #1264 "Could you add a connector for http://youtube-playlist-randomizer.valami.info"
I love the idea of the app, but i almost exclusively use this website to randomise my large 500+ song youtube playlist, and it would be great if you could add a connector for it!

(the reason i use this and not just randomise the youtube playlists is that youtube only randomises 100 videos ahead or behind the song you start from so more than half of my playlist would never get heard by me ;-P)

[2017-03-23 16:23] alexesprit commented on #1264
It's quite easy to add support for website, but the connector won't support play/pause.

[2017-03-24 04:55] MedievalFluff commented on #1264
that wouldnt be a problem for me, im not sure about other people who use it.

[2017-03-24 17:03] alexesprit opened #1266 "URL to GitHub releases instead of built-in changelog"
I realized that changelog that is on the options page is just a duplicate of release notes I write for every release. So, I think it's better to put URL named "Release notes" that leads to the release notes of current version to avoid duplicating of information.

On the other side, the "What's new" section with a single URL looks really odd, it's better to remove the section and place this URL to

[2017-03-25 10:10] inverse commented on #1266
Would you link to the releases page or an individual release? Duplicate content doesn't make sense IMHO and less maintenance is always good. Unless this could be automated ;)

[2017-03-25 11:31] alexesprit commented on #1266
I want to place a link to release notes for currently installed version.

[2017-03-25 12:07] inverse commented on #1266
Are release URLs to a hash or a number?

On 25 Mar 2017 12:31, "Alexey" <notifications@github.com> wrote:

[2017-03-26 05:17] alexesprit commented on #1266
I mean URLs like this one: https://github.com/david-sabata/web-scrobbler/releases/tag/v1.62.2
Current version can be obtained from manifest property.

[2017-03-26 11:31] inverse commented on #1266
That makes sense. I don't have a strong opinion either way. But less work is always a good thing :)

[2017-03-26 15:32] #1264 closed

[2017-03-27 04:26] Tanug commented on #1260
It is not working for me either, then I went to reauth but when I press the button nothing happens.
extension version:  1.62.2
When I try to reauthenticate using the options page of the plugin, I get this on the javascript console:
chrome.storage.local.LastFM = {
  "sessionID": null,
  "sessionName": null,
  "token": null
}
lastfm.js:99 getToken response: <?xml version="1.0" encoding="utf-8"?>
<lf

[2017-03-27 17:12] alexesprit commented on #1260
Are you using MacOS?

[2017-03-27 20:13] Tanug commented on #1260
Yes...I am using Macbook Pro 2016 version.

[2017-03-27 20:56] alexesprit commented on #1260
The auth notification isn't shown if Chrome in fullscreen mode. Quit this mode before pressing reauth button.

[2017-03-31 12:34] cauerego commented on #598
how about an option to automatically love a liked or thumbs up'ed track? would this be too tricky to implement?

[2017-03-31 18:21] inverse commented on #598
What do you mean automated? like love each track that is played?

[2017-03-31 19:16] cauerego commented on #598
Nope. On YouTube for instance, if I thumb it up, then love track.

On Fri, 31 Mar 2017, 19:21 Malachi Soord, <notifications@github.com> wrote:

--
------   Caue Rego  +351 918424479  |  www.cregox.com  +1 732 7377346

[2017-04-01 03:17] alexesprit commented on #598
@cauerego nice idea.

What the scrobbler should to do if previously thumbed up but not loved track is playing? Should it mark such tracks as 'loved' automatically?

[2017-04-01 04:58] #1260 closed

[2017-04-01 10:51] cauerego commented on #598
@alexesprit I see scrobbling as an "automated sync backup" of my playing taste so yeah, that makes sense.

I also can imagine the hardest part to do such a feature are keeping it updated across all services and / or with a feedback UI so we know when it worked or failed.

[2017-04-01 10:52] edgarsbu opened #1267 "Last.fm extension doesn't scrobble"
### Google Chrome Last.fm extension on Macbook doesn't scrobble Youtube tracks

Tab 130: scrobbling song Fais ft. Afrojack - Hey
https://ws.audioscrobbler.com/2.0/?method=auth.getsession&api_key=d9bb1870d…dXoK1A035xsM_7DEJXWmX&api_sig=d11bf23dc151f5fbedee3b4eb104089e&format=json Failed to load resource: the server responded with a status of 403 (Forbidden)
lastfm.js:175 auth.getSession failed: {"e

[2017-04-01 16:04] alexesprit commented on #1267
Looks like you're reauthenticating while Chrome is in fullscreen mode. Try to press reauth button in windowed mode. That should help to resolve the issue.

This behaviour is fixed in latest master.

[2017-04-01 16:25] aVitomin opened #1268 "Add radioultra please"
http://player.radioultra.ru/?play#
Ru online radio

[2017-04-01 17:46] emwey opened #1269 "Spotify webplayer not scrobbling"
Been trying the past few days and it's worked in the past but it's not working with scrobbling inside of Spotify's web player, any help?

[2017-04-01 17:49] alexesprit commented on #1269
I noticed that too and have fixed this issue in latest master. Please check out the changes and confirm if it works.

[2017-04-01 18:24] emwey commented on #1269
I just redownloaded through the Chrome store, still not working, am I missing something? Sorry, I'm new here.

[2017-04-01 18:25] alexesprit commented on #1269
Try to install the extension using this howto: https://github.com/david-sabata/web-scrobbler#unpacked-extension.

[2017-04-01 19:26] emwey commented on #1269
Yep, got it working! Thank you!

[2017-04-01 19:29] #1269 closed

[2017-04-02 17:11] iwconfig opened #1270 "open.spotify.com data is fetched but (still) won't scrobble"
### Expected Behavior
Well, `testReporter.js` outputs data objects in the console and the same data should be scrobbled. I have installed the latest from the master branch, which includes 1b2b536.
### Current Behavior
`testReporter.js` outputs data objects in the console but no data is actually scrobbled to last.fm. This issue might be similar to #1267.

### Steps to Reproduce (for bugs)
1. Downlo

[2017-04-02 18:52] alexesprit commented on #1270
Can't reproduce using steps described in your comment. Have you any additional information?

[2017-04-02 21:07] iwconfig commented on #1270
I'm sorry, I can't think of anything more to add. What would that be?

[2017-04-03 00:29] 4m1lt0n opened #1271 "https://open.spotify.com/"
### Expected Behavior

### Current Behavior

### Possible Solution

### Steps to Reproduce (for bugs)

1.
2.
3.

### Context

### Steps for resolving the issue

- [ ] Reauthenticate on Last.fm

- [ ] Try to use unpacked extension from latest master

- [ ] Check other issues for duplicates

### Environment

* Version used:
* Browser Name and version:
Chrome, v. 57.0.2987.133

[2017-04-03 03:56] alexesprit commented on #1271
Looks like it duplicate of #1270 or #1269.

[2017-04-03 03:56] #1271 closed

[2017-04-03 04:13] alexesprit commented on #1270
@iwconfig Could you install the extension from this zip: https://github.com/alexesprit/web-scrobbler/archive/spotify-test.zip and check if the extension works?

Also, could you post the HTML code of play button? Something like this one:
[code]

[2017-04-03 04:16] alexesprit commented on #1270
Also, in the logs of content scripts this line is truncated:
[code]
Could you also expand the line and post its content?

[2017-04-04 04:18] #1268 closed

[2017-04-04 04:19] alexesprit commented on #1268
Will be available in the next release.

[2017-04-04 17:40] iwconfig commented on #1270
@alexesprit Confirmed! _spotify-test.zip_ works as it should. Awesome! :)

Its the same HTML code for me.

	<button class="control-button spoticon-play-16 control-button--circled" title="Spela upp"></button>
	<button class="control-button spoticon-pause-16 control-button--circled" title="Pausa"></button>

Here's the whole connector_state_changed Object:
![screenshot 2017-04-04 at 7 37 05 pm](https

[2017-04-04 17:41] alexesprit commented on #1270
@iwconfig thanks for report. This issue is fixed in #1272, but that PR isn't merged yet.

[2017-04-04 17:47] iwconfig commented on #1270
@alexesprit hey, my pleasure. Oh it was that one, alright. Great, thanks! 👍

[2017-04-04 17:52] #1270 closed

[2017-04-04 19:21] inverse commented on #105
Can you provide some sample URL's where you can listen to music?

[2017-04-04 19:23] inverse commented on #256
Not sure how we can support this? The meta data exposed is very sparse

[2017-04-04 19:27] inverse commented on #988
Behind a paywall :( @mrbootle do you have any JS experience? We have documentation on our wiki.

[2017-04-04 21:21] eldonzo opened #1273 "Scrobble doesn't work on open.spotify.com"
Some days ago play.spotify.com started to redirect to open.spotify.com, so the web player is totally new.
The Chrome extension says the site is supported, but it doesn't recognize the songs played.

[2017-04-04 23:38] sdjasfijsdfisjdf commented on #1273
Same problem here, also tried the unpacked version mentioned in #1269 with no positiv result. Eventhough Spotify (open) has appeared at the connectors list... but it's still showing "play some music to get started" when music is actually playing in Spotify.

[2017-04-05 03:58] alexesprit commented on #1273
[How to debug extensions.](https://github.com/david-sabata/web-scrobbler/wiki/How-to-debug-the-extension)

[2017-04-05 04:06] alexesprit commented on #1273
The issue actually is fixed in #1272. Have you tried to use the extension with this patch applied?

[2017-04-05 08:23] eldonzo commented on #1273
I'll just wait for the extension to update with the fix, thanks for letting know.

[2017-04-05 16:39] sdjasfijsdfisjdf commented on #1273
This is the log when entering spotify:
https://pastebin.com/WyVzCXVW

Those are the errors i found further up the console:
https://pastebin.com/10dYgMVi

But somehow i don't understand what I have to do with the source code in #1272. Can you explain?

[2017-04-06 09:41] joboj opened #1275 "Add support for My Cloud Player?"
Hello

I use [My Cloud Player](https://mycloudplayers.com) to listen to soundcloud a lot, but their own audioscrobbler support was broken ages ago.

Would it be possible to develop a connector for this site?  Sorry I don't really have the time to do this myself.

Thanks
Joe

[2017-04-06 10:48] alexesprit commented on #1273
The changes made in #1272 are in master, so you can use [this](https://github.com/david-sabata/web-scrobbler#unpacked-extension) howto to install the fixed extension.

[2017-04-06 12:50] sdjasfijsdfisjdf commented on #1273
Sorry, I still don't get it... So you are saying that the changes are already in the app? As mentioned before in my first comment I did install the unpacked extension with no positive result in scrobbling.

Also one day later chrome browser crashed and deleted all bookmarks and appdata from my harddrive so I've installed the version from the chrome store again.

[2017-04-07 06:32] musthabe commented on #1273
I unpacked the newest extension manually within the Extensions menu.
The version is 1.62.2.
open.spotify.com is not scrobbling, even though it says supported site, it isn't recognizing the song being played.

[2017-04-07 09:45] sdjasfijsdfisjdf commented on #1273
@musthabe thanks for your help, now i've got it!

[2017-04-07 09:49] #1273 closed

[2017-04-08 17:25] #1275 closed

[2017-04-09 00:28] ali-essam opened #1276 "YouTube connector scrobbles video Ads"
![screenshot from 2017-04-09 01-14-40](https://cloud.githubusercontent.com/assets/5252681/24833490/9721f98c-1cca-11e7-9949-444b48920da7.png)

### Expected Behavior
Connector shouldn't scrobble video skippable Ads
### Current Behavior
Connector scrobbles video skippable Ads

### Steps to Reproduce
1. Open different YouTube music videos or refresh the same one till you get a video Ad
2. Scrobbler st

[2017-04-09 06:47] alexesprit commented on #1276
@ali-essam thanks for reporting!

Can't find any videos with ads (I disabled everything that can block ads). Could you provide URL to any of these ones?

[2017-04-09 07:02] alexesprit commented on #1276
@ali-essam Could you check the extension and confirm if the issue is fixed? https://github.com/alexesprit/web-scrobbler/tree/youtube-skip-ads

[2017-04-09 16:29] ali-essam commented on #1276
@alexesprit It works great, it no longer scrobbles Ads.

For the first video (with Ad) when you load the page scrobbling starts after the Ad which is great; however for subsequent videos, if one of them has an Ad, it doesn't scrobble the Ad which is good, but there is just a very minor issue that it starts recognizing and scrobbling the song even before the Ad finishes and might finish scrobbling

[2017-04-09 19:27] #1276 closed

[2017-04-11 06:43] fabionapodano opened #1277 "New Spotify Web Player doesn't scrobble"
### Expected Behavior
Spotify recently changed their web player, removing last.fm support. At its first incarnation (some weeks ago), this extension was working and was the only working solution known to me. Then, the old player was back. Since some days, the new web player is online again, but this extension is not working anymore.

### Current Behavior
scrobbling doesn't work. already tried to r

[2017-04-11 06:46] alexesprit commented on #1277
Duplicate of #1270.

This issue is already fixed. The new version will be available in Chrome Web Store soon.

[2017-04-11 06:46] #1277 closed

[2017-04-11 06:47] #1267 closed

[2017-04-11 07:14] spjcc opened #1278 "Scobbler not recognising music from Spotify web player."
### Expected Behavior
Web scrobbler should recognise music being played on open.spotify.com

### Current Behavior
Spotify changed the web player from play.spotify.com to open.spotify.com. Since this change the web scrobbler is not recognising music being played.

### Possible Solution
Adjust scrobbler settings to match new URL used by Spotify web player

### Steps to Reproduce (for bugs)
1.  Open

[2017-04-11 07:27] alexesprit commented on #1278
Duplicate of #1270.

[2017-04-11 07:27] #1278 closed

[2017-04-11 09:01] elctriqueooh opened #1279 "Spotify not scrobbling after an update"
after the launch of the new version of spotify web player, scrobbling has stopped

![screen](https://cloud.githubusercontent.com/assets/27276139/24901056/313286ea-1ea6-11e7-9fa3-4b9f56b9d170.jpg)

even thought the checks for spotify are ticked, nothing is being scrobbled, only the icon "lights up"

Tried deleting cookies, cache and reinstalling the app and re-authenticating it  in chrome, nada has

[2017-04-11 09:05] alexesprit commented on #1279
Duplicate of #1270.

[2017-04-11 09:05] #1279 closed

[2017-04-11 14:10] leandrokanis opened #1280 "Spotify web not scrobbling after update"
Spotify web interface had been updated in April 10th. Since that, scrobbling is not working any more.

[2017-04-11 14:30] alexesprit commented on #1280
We know about that. This issue will be fixed in the next release.

[2017-04-11 14:30] #1280 closed

[2017-04-11 18:25] #1266 closed

[2017-04-12 10:18] mishalame opened #1281 "Opera 43 - Soundcloud Scrobbler error"
![2](https://cloud.githubusercontent.com/assets/27344937/24952927/157a976c-1f82-11e7-9401-8494624eaf39.png)
![3](https://cloud.githubusercontent.com/assets/27344937/24952928/157af09a-1f82-11e7-92e8-dddcb7982ffc.png)
![4](https://cloud.githubusercontent.com/assets/27344937/24952930/157fae5a-1f82-11e7-9a1d-ba9096629240.png)
![5](https://cloud.githubusercontent.com/assets/27344937/24952929/157f3b0a-1

[2017-04-12 10:33] alexesprit commented on #1281
What happens when you press reauth button in the options page?

[2017-04-12 17:12] DuckFlagellant commented on #669
I've noticed that while v1.62.1 is able to scrobble from sites like Bandcamp and SoundCloud with no problems, it's unable to scrobble YouTube videos. Is anyone else having this problem? My Firefox version is 52.0.2

[2017-04-12 19:02] alexesprit commented on #669
@DuckFlagellant we made some changes in Youtube connector in newer versions (v1.62.2, v1.63.0), but I didn't sign that versions.

I'll sign and upload v1.63.0 asap, that should help.

[2017-04-12 19:35] DuckFlagellant commented on #669
@alexesprit Great, thank you so much!

[2017-04-13 07:24] IRainman commented on #669
@alexesprit Thank you! However, I do not understand where to now download web-scrobbler.xpi ?

[2017-04-13 08:12] alexesprit commented on #669
@IRainman as I previously said, I haven't sign v1.63.0 version yet. I'll let you know when it will be available.

P. S. Please file all Firefox-related version bugs and ask questions in Gitter chat.

[2017-04-13 12:30] IRainman commented on #669
@alexesprit okay... thank you! :)

[2017-04-13 19:28] #77 closed

[2017-04-14 04:19] #235 closed

[2017-04-14 05:49] alexesprit opened #1282 "Connector naming convention"
I noticed all connectors are named in a different way, and don't follow general rules. I propose a naming convention for connector filenames, which should help to keep the source code in the same style.

https://gist.github.com/alexesprit/f86391c1d72de44146b57e8acdddd6d6

Not sure if all the things are described clearly in the convention. Also, not sure if it's useful. Any feedback is welcome.

P.

[2017-04-14 05:50] #1192 closed

[2017-04-14 06:21] #496 closed

[2017-04-14 10:24] mishalame commented on #1281
Like...nothing. I just press it and that's all what happening..

[2017-04-14 11:10] f1u77y commented on #1282
I'd also suggest to include top-level domain if it's part of the service name(e.g. listen.moe)

[2017-04-14 11:12] alexesprit commented on #1281
Well, that's strange. I have Opera 44 installed on Win10 and reauth works fine. Could you reproduce this issue using Chrome?

Also, if you're using Win10 and have notifications disabled in the system preferences, the notification that is shown on reauth button click won't appear.

Could you also provide logs? Here are steps to get them:
1. Open the options page.
2. Click on reauth button.
3. Hit C

[2017-04-14 11:41] mishalame commented on #1281
[chrome-extension://icjpieaianckgehnfpfpldhdjpnhmpbk/core/background/chromeStorage.js:108](url
![default](https://cloud.githubusercontent.com/assets/27344937/25042401/735820f8-2120-11e7-9d65-641c100d2259.png)
) chrome.storage.local.LastFM = {
  "sessionID": null,
  "sessionName": null,
  "token": "xxxxx029Ke6CiIYPN989Q9kTgK4wvlG9"
}
[chrome-extension://icjpieaianckgehnfpfpldhdjpnhmpbk/core/backgro

[2017-04-14 11:56] alexesprit commented on #1281
That's why the nothing happens when you click on reauth button.

Unforturately, there's no way to detect if system notifications are disabled. The Chrome API implementation used in Opera behave like notifications are available. That's Opera issue.

[2017-04-14 15:48] ErturkOzturk opened #1283 "Asks me to Reauthenticate everytime"
### Expected Behavior
I installed Chromium on Ubuntu. I reauthenticated. No need to do it again.

### Current Behavior
It's asking me to reauthenticate when I open browser.

### Steps to Reproduce (for bugs)

1.  Open browser
2.  Reauthenticate
3.  Close browser
4.  Return to no:1

### Environment

* Version used: 1.63.0
* Browser Name and version: Version 57.0.2987.98 Built on Ubuntu , running on

[2017-04-14 16:52] alexesprit commented on #1283
Can't reproduce on Chrome 57.0.2987.133 running on Windows 10.

Could you provide logs? Here are steps to get them:

1. Open the options page.
2. Click on reauth button.
3. Hit Ctrl-Shift-C key combination.
4. Select "Console" tab and copy logs.
5. Paste logs with any pastebin service and provide the URL.

[2017-04-14 19:25] ErturkOzturk commented on #1283
I can't reproduce with Chrome on Windows 10 too.

`chromeStorage.js:108 chrome.storage.local.LastFM = {
  "sessionID": null,
  "sessionName": null,
  "token": "xxxxxR6Xgo_Yjsjfjp4C3KublIVowov7"
}
lastfm.js:99 getToken response: <?xml version="1.0" encoding="utf-8"?>
<lfm status="ok">
  <token>xxxxxZeYO7knwhgDU7IIJjRdQGZ9SjMG</token>
</lfm>`

[2017-04-14 22:09] alexesprit commented on #1283
I've tried to reproduce it on Ubuntu 16.04 with Chromium 57.0.2987.98, still works.

Could you also provide logs of background script? Just run Chromium, then wait until notification is shown, then copy logs and paste them here.

[2017-04-14 22:10] #1281 closed

[2017-04-15 04:04] Kauxan opened #1284 "Doesn't work on music.163.com"
First of all, thanks to all the contributors to this scrobbler.

### Expected Behavior
Works fine...

### Current Behavior
It says that "This site is supported for scrobbling", but when the music is playing, the extension doesn't recognize it.

### Possible Solution
...I don't know

### Context
Well, this is the only way to scrobble songs from music.163.com. (Thanks again)

### Environment
Cent Br

[2017-04-16 09:30] #1284 closed

[2017-04-16 09:32] alexesprit commented on #1284
@Kauxan Thanks for reporting!

I fixed the issue, the scrobbling should work fine in the next release. Would be fine if you install the extension from the master branch and confirm if it's fixed.

[2017-04-16 10:11] Kauxan commented on #1284
Yes, it has been fixed. Thank you.
![tim 20170416181033](https://cloud.githubusercontent.com/assets/27534496/25070405/1471b098-22d0-11e7-8e40-67cd491bd693.png)

[2017-04-16 14:48] alexesprit commented on #1282
@f1u77y yes, that makes a sense. I updated the document according your suggestion.

[2017-04-16 18:00] ErturkOzturk commented on #1283
I reinstalled Ubuntu for another problem.

This is the first time notification shows up: https://paste.ubuntu.com/24395236/ then I authenticated.

and this is after authenticated, restarted browser and click reauthenticate from options (automatic notification didn't show up): https://paste.ubuntu.com/24395270/

So it seems problem is gone, for now.

[2017-04-17 02:37] ronech opened #1285 "Pandora ads getting scrobbled"
### Expected Behavior
Scrobble only music.

### Current Behavior
See <https://www.last.fm/music/Your+station+will+be+right+back./_/Advertisement>.

[2017-04-17 05:48] ibrokemypie opened #1286 "Some service error was occurred on plex.tv"
### Expected Behavior

Scrobbles the music

### Current Behavior

Extension shows orange icon and says
[code]

### Possible Solution

### Steps to Reproduce (for bugs)

https://bpaste.net/show/8f82aa72c26b

### Context

No music gets scrobbled

### Steps for resolving the issue

The unpacked extension seems to be working alright for some reason

- [x] Reauthenticate on Last.fm

- [ ] Try to use un

[2017-04-17 06:17] ibrokemypie commented on #1286
playing with uninstalling and various refreshes seems to have fixed it... dont think its reproducible

[2017-04-17 06:17] #1286 closed

[2017-04-17 06:28] dwse opened #1287 "I played music on 163music but the extension did not recognize it"
### Expected Behavior

### Current Behavior

### Possible Solution

### Steps to Reproduce (for bugs)

1.
2.
3.

### Context

### Environment

* Version used: 1.63.0
* Browser Name and version: chrome 57.0.2987.133

[2017-04-17 07:25] c-yau commented on #1287
Same issue here.

Steps to Reproduce:
1.Visit http://music.163.com
2.Click "play" and the scrobbler isn't working.

[2017-04-17 07:52] alexesprit commented on #1287
Duplicate of #1284.

[2017-04-17 07:52] #1287 closed

[2017-04-17 08:05] c-yau commented on #1287
Tks. It's been fixed on master

[2017-04-17 15:53] #1285 closed

[2017-04-17 15:55] alexesprit commented on #1285
@ronech Thanks for reporting the issue!

Should skip ads in the next release.

[2017-04-17 20:59] ErturkOzturk commented on #1283
Started again: https://paste.ubuntu.com/24403154/

[2017-04-18 04:16] alexesprit commented on #1283
@ErturkOzturk could you try to collect log using these steps from my comment? https://github.com/david-sabata/web-scrobbler/issues/981#issuecomment-238158879

The single log contain no useful information.

[2017-04-18 13:56] hans-juergen commented on #1262
The web player shows the correct album cover though and if you hover the title or click on it, it will show the correctr album URL and/or switch to the correct album page. So it should possible, shouldn't it?

[2017-04-18 15:09] alexesprit commented on #1262
@hans-juergen The problem is the album should be fetched asynchronously, whereas artist and title are fetched synchronously. It's possible to do some hacks and get all track data asynchronously, like Gaana and Saavn connectors work, but I don't like this way.

I also thought about async base connector, but I have no idea how to implement it.

[2017-04-18 16:57] ErturkOzturk commented on #1283
https://paste.ubuntu.com/24408564/

[2017-04-19 04:22] alexesprit commented on #1283
@ErturkOzturk That's odd. Did you click on notification when you ran Chrome first time? I see no "Notification onClicked: 3279715f-a7b6-447e-9312-7c0d043359bd" in first part of the log.

[2017-04-19 12:40] ErturkOzturk commented on #1283
No, I didn't click on first time. I clicked on second time. Want me to paste the log in that way?

[2017-04-19 13:52] inverse commented on #1282
Conventions FTW - I think including the tld could be useful. Although how would this work for sites which use multiple? Can't think of any off the top of my head. They normally redirect to the `.com`.

[2017-04-19 16:38] alexesprit commented on #1283
Yes, I need logs in the case when user reauthenticates via auth notification, then just restarts Chrome (as described in the comment in #981).

[2017-04-20 04:06] alexesprit commented on #1282
Yes, that's pretty rare case, but I read [this](https://github.com/david-sabata/web-scrobbler/pull/1234#issuecomment-288813475) recently comment and decided to mention such cases in the convention.

[2017-04-20 13:49] Chronum94 commented on #1283
Can report that this occurs on Chrome/Win10 for me.

[2017-04-20 13:50] alexesprit commented on #1283
@Chronum94 https://github.com/david-sabata/web-scrobbler/issues/981#issuecomment-238158879

[2017-04-20 13:53] Vankog opened #1288 "Scrobbles always all YouTube videos on new experimental design"
Even though I restricted scrobbling on YouTube only for the music category, every video is attempted to be scrobbled with the new experimental design (with night mode).

### Expected Behavior
Attempted scrobbling only of music videos, independent from the design.

### Current Behavior
Even though YouTube scrobbling is only allowed for music videos, it tries to scrobble all videos with the new YouT

[2017-04-20 16:44] alexesprit commented on #1288
Unfortunately, a category name is localized to several languages, and there's no metadata in the page source (like in current version of Youtube). That's why it's hard to implement support for this option in new design.

[2017-04-20 17:25] Vankog commented on #1288
I see, so basically we would have to include all localizations then?
Maybe some meta data will still be added back until the design goes live for all.

[2017-04-20 17:26] alexesprit commented on #1288
I'll try to look into that.

[2017-04-20 17:29] ErturkOzturk commented on #1283
https://paste.ubuntu.com/24421407/

The problem is: when I launch Chromium notification pops out. I click on notification and reauthenticate then restart chrome. After this everything is cool, no matter how many time I start Chrome. But another day, it's asking me to reauthenticate again.

[2017-04-20 20:53] inverse commented on #1282
I'm all for this - what you documented seems good to me :+1:

However what would the file name be for this

[code]

[2017-04-21 04:03] alexesprit commented on #1282
@inverse it should be called either "wonder.js" (their primary service) or "hydricmedia.js" (the company owns these service). The same story with "bemusic", "radiotunes" connectors and some others. That's one more case should be noted in the convention.

[2017-04-21 04:24] alexesprit commented on #1288
The category name is not accessible to connectors until the video description is expanded.

[2017-04-21 10:09] Vankog commented on #1288
Damn. :-/
Alright, I think we should not go ahead of ourselves. I suggest we wait until the design has an official release and check again. I think there will be several things that mjght change and maybe this gives a better opportunity to check for music.
Maybe we could utilize some Google Music indicators in the page or the like.

[2017-04-23 11:19] alexesprit commented on #1282
Added to "Connectors development" wiki page.

[2017-04-23 11:19] #1282 closed

[2017-04-23 17:08] #777 closed

[2017-04-23 17:09] alexesprit commented on #777
Added "note" icon.

[2017-04-23 19:46] darkalemanbr opened #1289 "No way to access the menu in Firefox"
There's currently no way to access the extension's main menu/window in Firefox.

In Chrome this ability is provided by a button on the toolbox beside the omnibox and a similar option is expected in Firefox.

Another feasible option would be displaying a [page action](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/pageAction) only in tabs containing supported services.

[2017-04-23 19:48] alexesprit commented on #1289
The page action is already displayed, isn't it?

[2017-04-23 19:59] darkalemanbr commented on #1289
It isn't in my browser.

[2017-04-23 20:09] alexesprit commented on #1289
That's strange.
![image](https://cloud.githubusercontent.com/assets/1119267/25316985/0a378d60-2879-11e7-9ad6-61e78fc9a174.png)

The only thing I can say the page action becomes hidded when URL in address bar is changed in Firefox. The Opera doesn't do that, and Chrome didn't do too when the page action was shown in the omnibox. I don't know how to fix that on the extension side.

I also noticed it

[2017-04-23 20:09] darkalemanbr commented on #1289
After creating a new profile and loading just this extension I figured out I have another extension conflicting with page actions in general. So turns out this is happening in my end.

This isn't all for the bad, though, since I think I've found a potential flaw in another extension.

Closing.

[2017-04-23 20:09] #1289 closed

[2017-04-24 03:31] alexesprit commented on #943
Is it still an issue? Scrobbling from 8tracks works fine for me.

[2017-04-24 05:27] bjason opened #1290 "cannot scrobble 163 music"
### Environment

* Version used: 1.63.0
* Browser Name and version: Opera 44.0.2510.1218
(I know this is confusing that this extension doesn't mean to support Opera however I used another extension which allowed me to do so. And the web scrobble works fairly well in Spotify while cannot scrobble [163 music](music.163.com))

[2017-04-24 09:08] alexesprit commented on #1290
This is known issue and it's already fixed. You can install the extension as an unpacked one from master branch to get it worked right now.

[2017-04-24 09:08] #1290 closed

[2017-04-24 10:34] skjerns opened #1291 "Notifications only for unrecognized songs?"
It would be cool to be able to disable notifications except for unrecognized songs.
Is that planned in the future?

[2017-04-24 17:21] alexesprit commented on #1291
@skjerns no, it isn't planned, but it's not hard to implement this feature if there's some reason for that.

[2017-04-24 17:29] alexesprit commented on #1291
@skjerns I've just found out this is possible to show only unrecognized notifications now. Just enable "Unrecognized song notifications" option, then disable "Use desktop notifications" one.

Actually, this is a but, and the extension isn't supposed to behave like that.

[2017-04-24 17:33] skjerns commented on #1291
great! it works :)

what a useful bug

[2017-04-24 17:38] #1291 closed

[2017-04-24 17:40] alexesprit commented on #1291
I updated the code, and removed option dependency. The extension should allow to configure options separately now.

[2017-04-26 06:49] Yoshi8765 opened #1292 "Viewing extension popup in external monitor misaligns mouse position"
### Current Behavior
When I view chrome on an external monitor and use the web-scrobbler extension popup, it misunderstands where the mouse is located, for some reason.
For example: http://i.imgur.com/zwDrOBI.png
This makes it very hard to click the heart for the now playing track. If it helps, I am using soundcloud.
I believe this is a bug for the extension because everything else in chrome on th

[2017-04-26 07:39] ThomasBowen opened #1293 "[REQUEST] Add support for https://listenonrepeat.com"
Add scrobbling support for the website:
https://listenonrepeat.com

[2017-04-26 14:22] myfonj commented on #1292
Confirming.
Actually this happens to every single extension popup when Chrome window is dragged to secondary monitor with different DPI.
(Made me finally report that: https://bugs.chromium.org/p/chromium/issues/detail?id=715552 )

[2017-04-26 18:08] alexesprit commented on #1292
I also reproduced this issue on Chrome 58.0.3029.81 and 60.0.3081.0 canary.
I didn't reproducet it on Opera 44.

Looks like it's on Chrome side. Let's wait for Chrome developers comments.

[2017-04-26 21:49] ssanders opened #1295 "Pandora Mobile Solution"
### Expected Behavior
No mobile apps can scrobble Pandora currently.
But a web-scrobbler could scrobble from a profile’s past activity.

### Current Behavior
Web-scrobbler only scrobbles tracks I play now.

### Context
I want to somehow scrobble from my Pandora mobile app.

[2017-04-27 04:09] alexesprit commented on #1295
This extension is designed to scrobble now playing songs. How should this feature work?

[2017-04-27 04:28] Yoshi8765 commented on #1292
You're right, my apologies. It's an issue with every extension in chrome. Looking around at some google support forum posts, it appears Google's stance is that extension owners should "figure it out," which sounds ridiculous to me... I've tried to set high DPI scaling override to be performed by the System, but this made chrome unviewable on my laptop screen, although it seems to have been fixed o

[2017-04-28 13:25] jeanloup opened #1296 "Some service error has occurred"
The album I'm listening to doesn't submit its track details to last.fm, each track comes back with a ? in the browser extension icon and when submitting manually it fails with the error in the heading

### Expected Behavior

I expect the track to scrobble as expected even if the details are not in last.fm's database

### Current Behavior

The track is not scrobbled and triggers the "some service e

[2017-04-28 17:37] alexesprit commented on #1296
[How to debug extensions.](https://github.com/david-sabata/web-scrobbler/wiki/How-to-debug-the-extension)

[2017-04-29 05:12] pandap opened #1297 "music.163.com not scrobbling"
music.163.com not scrobbing
### Expected Behavior

scrobbing music when music playing
### Current Behavior

### Possible Solution

web server changed
### Steps to Reproduce (for bugs)

1.
2.
3.

### Context

### Steps for resolving the issue

- [ ] Reauthenticate on Last.fm

- [ ] Try to use unpacked extension from latest master

- [ ] Check other issues for duplicates

### Environment

* Version

[2017-04-29 05:15] alexesprit commented on #1297
This is already fixed.

[2017-04-29 05:15] #1297 closed

[2017-04-29 09:58] pandap commented on #1297
![image](https://cloud.githubusercontent.com/assets/5292261/25554661/2d0f4a86-2d05-11e7-9d41-49f31a4f7c5b.png)
im sorry, my chrome still have the problem

[2017-04-29 10:06] pandap commented on #1297
thanks

[2017-04-29 17:20] #1293 closed

[2017-04-29 17:23] #1283 closed

[2017-04-29 18:15] f1u77y commented on #1288
We could get video category ID with YT api(the Music category is 10).

[2017-04-29 18:20] alexesprit commented on #1288
I thought about that. To use Youtube API we should implement custom state change function and check for track change to reduce Youtube API calls. This makes the connector more complex.

[2017-04-29 18:29] f1u77y commented on #1288
Somewhat easier solution is to use cache(that can be even page-local)

[2017-04-29 23:24] Vankog commented on #1288
Nice idea, but should we really expose the API key? Every guideline expresses it's concerns about this.
However, the only option I see is to ask the user to put in a custom API key... :-/

[2017-04-30 08:01] alexesprit commented on #1288
@Vankog providing custom API keys is too hard for an usual user.

The previous v1 connector also was based on Youtube API. I think it's nothing wrong if we will keep the API key visible to all.

[2017-04-30 17:25] #1288 closed

[2017-04-30 17:37] f1u77y opened #1299 "Non-music video is scrobbled on Youtube after music video"
[This comment](https://github.com/david-sabata/web-scrobbler/pull/1298#issuecomment-298219084) fully describes the issue.

My suggestion is to change semantics of `Connector.isStageChangeAllowed()`. It should be more like `isScrobblingAllowed`. I think we don't need to change the function body in all connectors, just change its name and semantics.

[2017-04-30 18:32] alexesprit commented on #1299
I didn't change behaviour of the `isStateChangeAllowed` function, just added new one used by Youtube connector only.

https://github.com/alexesprit/web-scrobbler/tree/yt-reset-state

[2017-05-01 10:14] #1292 closed

[2017-05-01 11:00] hihowarey0u commented on #1014
Do I need to connect my Bandcamp account to the extension somehow or should it automatically scrobble anything I play on Bandcamp when using Chrome?
My Last.fm account is signed in and scrobbing from Spotify works

[2017-05-01 11:02] alexesprit commented on #1014
@hihowarey0u no, the extension doesn't requre Bandcamp account.

[2017-05-01 15:28] #1076 closed

[2017-05-01 15:28] #1299 closed

[2017-05-02 16:37] AhmedKamal20 opened #1300 "Suggestions: Add A Universal Connector"
Can we Add a Connector that will work for other websites , that have a predefined selectors
So , me as a website maker can add this selectors with song's data to enable web-scrobbler users to use it

And even more , can we add an option for the users to add custom selector for a custom connector
to be able to use the ext. with any website they want that is't listed here ?

[2017-05-02 16:59] alexesprit commented on #1300
I think it's easier to write a connector and include it to the extension. I believe people who know CSS are able to write a couple of lines of connector code.

I'm also not sure if this complex feature will be useful for a lot of people.

[2017-05-02 17:17] AhmedKamal20 commented on #1300
ok , i can write a connector, but will you accept a not-popular site (~ 15 users per day !), if this is the case , i will do it  of course.

[2017-05-02 17:21] alexesprit commented on #1300
@AhmedKamal20 that's ok, feel free to create a PR for a connector.

[2017-05-02 18:05] inverse commented on #1300
I think having a universal connector (connector "builder") would be a lot of work. I think the this extension has come a long was to generalise the scrobbling functionality and developer usability when building new extensions.

Perhaps we could provide richer documentation but I believe the core scrobbler class is pretty well self documented for developers to build against. We could perhaps add pr

[2017-05-04 16:27] bluemelodypp opened #1303 "163 music doesn't scrobble now."
http://music.163.com/#
this website can‘t be scrobbled now

[2017-05-04 18:43] #1303 closed

[2017-05-04 18:43] alexesprit commented on #1303
Duplicate of #1284.

[2017-05-05 14:50] bluemelodypp commented on #1303
I reinstall the plugin but still not working.

[2017-05-05 14:54] alexesprit commented on #1303
It shouldn't work, because new version is not released. The issue is already reported and is fixed; that's why I closed it.

[2017-05-05 14:58] bluemelodypp commented on #1303
Thanks!!!
BTW when will it release?

[2017-05-05 19:15] isomorphisms opened #1305 "how to sign in?"
### Expected Behavior

enter a username/pass, or at least check if I'm logged in

### Current Behavior

Options page doesn't ask for login

### Possible Solution

### Steps to Reproduce (for bugs)

1.  using chromium on ubuntu
2.
3.

### Context

actually scrobble

### Steps for resolving the issue

- [ ] Reauthenticate on Last.fm

- [ ] Try to use unpacked extension from latest master

- [ ] Chec

[2017-05-06 02:27] alexesprit commented on #1305
What does "Options page doesn't ask for login" mean? Have you tried to click on reauthenticate button?

https://www.youtube.com/watch?v=3GJjbJa6pK0 here is a tutorial how to start using the extension.

[2017-05-06 20:19] asiazaiser opened #1306 "Can you add radd.it support?"
http://radd.it/

[2017-05-07 17:18] #1306 closed

[2017-05-07 20:15] alexesprit commented on #943
I fixed 8tracks connector in 2886aa8d0ec444c867520432f4fcb1ce47d215b3 and df5ddfbd712df11d35c201c4d4497cff44e430b0. Should work fine for both players.

[2017-05-07 20:15] #943 closed

[2017-05-08 10:26] alexesprit commented on #1213
Added in 9339f71b8ac37b02e80787aa64f5f1b1c1052e91.

[2017-05-08 10:26] #1213 closed

[2017-05-09 17:13] #638 closed

[2017-05-09 17:13] #1196 closed

[2017-05-09 17:15] alexesprit commented on #1196
Now the extension allows to disable connectors via page action context menu.

[2017-05-09 17:15] alexesprit commented on #638
Now the extension allows to disable connectors via page action context menu.

[2017-05-09 17:29] alexesprit commented on #582
The song is ignored by Last.fm for some reason. I tried to scrobble it using [Open Web Scrobbler](http://ows.elamperti.com/), but had no luck with this. So I believe it's not the extension issue.

[2017-05-09 17:29] #582 closed

[2017-05-09 17:38] alexesprit commented on #1032
I mentioned this in readme.

[2017-05-09 17:38] #1032 closed

[2017-05-10 18:28] PiotrDabr commented on #616
I'd love to see at least an option to disable scrobbling for the video I'm playing. Quite often I watch some news videos and they're scrobbled in a way that channel name is an artist name and video name is a track name. I'm talking about YouTube by the way but I think it doesn't make any difference.

The only working solution for that problem I know is to "fix" artist and track names to " " (a spa

[2017-05-10 19:14] f1u77y commented on #616
@PiotrDabr you can enable "scrobble only music" option

[2017-05-10 20:53] RogerF81 opened #1311 "Issue with scrobbling from Napalm Records"
All in all the extension works, but it seems that it does not scrobble any video from [Napalm Records](https://www.youtube.com/channel/UCG7AaCh_CiG6pq_rRDNw72A). It only shows "Play some music to get started", though music actually is played. A few days ago, I'm quite sure it worked.

[2017-05-11 03:37] IRainman commented on #669
[Version 1.64.0](https://github.com/david-sabata/web-scrobbler/releases/tag/v1.64.0)

@david-sabata, @alexesprit, thank you!

[2017-05-11 04:18] alexesprit commented on #1311
Can't reproduce.
![image](https://cloud.githubusercontent.com/assets/1119267/25932455/ebdd7704-3619-11e7-9782-b61cda8f18b6.png)

Make sure you have these options disabled:
![image](https://cloud.githubusercontent.com/assets/1119267/25932464/00c37fce-361a-11e7-891f-55b48c971ca0.png)

[2017-05-11 08:00] bjason opened #1312 "unable to re-authorize that the lastfm login window doesn't show up"
### Current Behavior

It went great in the past until yesterday, when I was listening to music in 163 music, and the app icon became yellow showing there's some error occurs and ask me to re-authorize in the option page. However when I clicked the button but there's nothing happened afterwards.
I noticed that in the extension page a error icon was shown next to the scrobbler. I clicked and this wi

[2017-05-11 09:36] alexesprit commented on #1312
What is OS name and version do you use?

[2017-05-11 12:35] sde31c opened #1313 "Please support QQ Music"
"QQ Music" is the biggest music website in China.
The URL of "QQ Music" is https://y.qq.com/

[2017-05-11 13:03] alexesprit commented on #1313
Hi, it's already added in the latest master. Would be great if you check if it works.

[2017-05-12 03:13] bjason commented on #1312
It's Windows 10 Pro (1703)
OS version 15063.296 (I find this in about tab in setting, I'm not sure what that is though...)

[2017-05-12 03:15] bjason commented on #1312
And this problem occurs whichever supported website, not only the 163 music.

[2017-05-12 03:40] alexesprit commented on #1312
Check if you have system notifications enabled.

[2017-05-12 18:28] #1313 closed

[2017-05-12 18:29] #1305 closed

[2017-05-12 20:08] alexesprit commented on #1312
I update the extension and now it should open Last.fm page directly by clicking on reauth button. Could you install the extension from master branch and check how it works?

[2017-05-12 20:18] alexesprit commented on #933
I added new storage wrapper, and replaced `localStorage` to `chrome.storage.local` in https://github.com/alexesprit/web-scrobbler/commit/d56bda9937bda37d0f2b8e563cd1bfe139b3c8c7, but these changes depends on multi-scrobble2 branch, so I'm think it's can be used if multi-scrobble2 will be merged.

[2017-05-12 20:18] #933 closed

[2017-05-13 18:11] inverse commented on #933
Oh nice - good work :)

[2017-05-13 19:07] alexesprit commented on #102
I suggest to open the page on add0n.com on first install. There're some information how to use the extension on that page, and maybe it will help people to start using the scrobbler.

https://github.com/alexesprit/web-scrobbler/tree/open-on-install

[2017-05-13 19:10] inverse commented on #102
Could this be also used when pushing of "significant" changes too?

[2017-05-13 19:20] alexesprit commented on #102
Yes, that's would be great to let people know about big changes.

[2017-05-14 09:40] bjason commented on #1312
@alexesprit yeah, the newest version works just perfect! thank you!

[2017-05-14 09:50] #1312 closed

[2017-05-14 12:53] #256 closed

[2017-05-14 13:32] #672 closed

[2017-05-14 13:32] #1059 closed

[2017-05-14 22:43] hardkoren opened #1314 "not scrobbling from rockradio.com"
### Expected Behavior

### Current Behavior

### Possible Solution

### Steps to Reproduce (for bugs)

1.
2.
3.

### Context

### Steps for resolving the issue

- [ ] Reauthenticate on Last.fm

- [ ] Try to use unpacked extension from latest master

- [ ] Check other issues for duplicates

### Environment

* Version used:
* Browser Name and version:

[2017-05-15 08:47] SeleniaIrisha commented on #1314
Also does not work. Browser Chrome 58.0.3029.110 (64-bit). All the corrective actions performed does not help.
![qiy3hta-dj4](https://cloud.githubusercontent.com/assets/28702358/26049592/33de79b6-3964-11e7-997e-81f58c57f7a7.jpg)

[2017-05-15 17:20] #1314 closed

[2017-05-15 17:46] lukehunter2 opened #1315 "please add a way to unscrobble current tracks from the popup"
99% of titles on youtube have a - in them so it keeps adding random youtube videos and i have to go on lastfm to unscrobble them

[2017-05-15 20:09] robotninek opened #1316 "Pandora Scrobbling not Listing album"
### Expected Behavior
It should scrobble the artist, the song title and the album.

### Current Behavior
It is only scrobbling the artist and the song title.

### Possible Solution
Make the album title automatically update like it did when it wasn't broken.

### Steps to Reproduce (for bugs)

1.  Play Song on pandora
2.  Press the toolbar button thing
3.  Edit and you can see the album is not list

[2017-05-15 20:16] alexesprit commented on #1316
New Pandora website shows album information on the main page only. I'm not sure if it can be fixed on the extension side.

[2017-05-15 20:16] #1316 closed

[2017-05-16 12:15] SeleniaIrisha opened #1317 "not scrobbling from rockradio.com"
![cm0dkt8vta0](https://cloud.githubusercontent.com/assets/28702358/26105379/6b9eac90-3a4a-11e7-9b0f-e46692183ee5.jpg)
![dwvvybee2kg](https://cloud.githubusercontent.com/assets/28702358/26105381/6be26b60-3a4a-11e7-8b01-d14e7215b805.jpg)
![vfcb30paike](https://cloud.githubusercontent.com/assets/28702358/26105380/6bc03306-3a4a-11e7-8173-2dd30eb2d92b.jpg)

[2017-05-16 13:52] alexesprit commented on #1317
Why did you open the issue again? I already fixed it.

[2017-05-16 15:55] SeleniaIrisha commented on #1317
Nothing that new screenshots? Scroobler still does not work. I do not know what you fixed.

[2017-05-16 15:58] alexesprit commented on #1317
Have you tried to install the extension from the latest master branch?

[2017-05-16 16:00] SeleniaIrisha commented on #1317
Yes. It still does not work.

[2017-05-16 16:10] lukehunter2 commented on #1315
a 'disable on this page' button like with adblock would also work

[2017-05-16 16:43] alexesprit commented on #1317
Strange, it works for me. Could you provide the extension logs? [How to debug extensions.](https://github.com/david-sabata/web-scrobbler/wiki/How-to-debug-the-extension)

[2017-05-16 16:52] SeleniaIrisha commented on #1317
chrome.storage.local.LastFM = {
  "sessionID": "xxxxxAVTVcK-Jqm7N-BCX4UK16RCL-MJ",
  "sessionName": "Selenia_Irisha",
  "token": null
}
chromeStorage.js:102 chrome.storage.local.Core = {
  "appVersion": "1.64.0"
}
inject.js:33 -- loaded for the first time, injecting the scripts
inject.js:55 	injecting vendor/jquery-2.1.0.min.js
inject.js:55 	injecting core/content/reactor.js
inject.js:55 	injectin

[2017-05-16 16:53] SeleniaIrisha commented on #1317
![frgpkwich78](https://cloud.githubusercontent.com/assets/28702358/26118101/52a8fdea-3a71-11e7-8d72-f571f9227ef7.jpg)
![npvymmwp1fw](https://cloud.githubusercontent.com/assets/28702358/26118100/52a5b87e-3a71-11e7-8082-47251e53ca99.jpg)

[2017-05-16 17:08] alexesprit commented on #1317
Could you install the extension from this zip https://github.com/alexesprit/web-scrobbler/archive/radiotunes.zip and tell if something changes?

[2017-05-16 17:23] SeleniaIrisha commented on #1317
We have two users, so there are actually two browsers. The one where installed from the archive, works. Installed from the store does not work.
![1](https://cloud.githubusercontent.com/assets/28702358/26119337/8d7017c0-3a75-11e7-82e1-4e72f33b24ff.jpg)
![2](https://cloud.githubusercontent.com/assets/28702358/26119338/8d8b8cf8-3a75-11e7-84c9-28d4ccb9eccb.jpg)

[2017-05-16 17:25] alexesprit commented on #1317
The extension from the Chrome Web Store is supposed to be broken, I haven't update it yet.

[2017-05-16 17:28] SeleniaIrisha commented on #1317
Yes. Thank you!

[2017-05-16 17:31] #1317 closed

[2017-05-17 21:10] alexesprit commented on #1315
An example of how this feature can be implemented:
![image](https://cloud.githubusercontent.com/assets/1119267/26176175/e9eb14ee-3b5d-11e7-9d91-879429d93c06.png)

This is how ignored songs look:
![image](https://cloud.githubusercontent.com/assets/1119267/26176218/0d60570e-3b5e-11e7-8c9a-ee0e0b1b2d19.png)

[2017-05-18 08:20] inverse commented on #1315
Should we maintain a cache of ignored pages? Could complicate things somewhat though I guess.

[2017-05-19 12:34] alexesprit commented on #1315
@inverse What is this cache for?

[2017-05-20 14:53] lukehunter2 commented on #1315
is anyone working on this or should i learn javascript and see if i can do it

[2017-05-20 16:44] alexesprit commented on #1315
As you can see, I'm working on the feature, and it's almost done, but feel free to implement it by yourself.

[2017-05-20 18:48] DuckFlagellant opened #1319 "v1.64.0 YouTube Bug with Firefox 53.0.3 (32-bit)"
I recently updated to v1.64.0 for Firefox 53.0.3 (32-bit), and now I'm unable to scrobble in Youtube. I've already reauthenticated last.fm numerous times, and I'm still unable to scrobble. Here's the log: https://pastebin.com/gRuUW6Vw

[2017-05-20 18:55] alexesprit commented on #1319
Yes, it's the same for me. I'll investigate this bug.

As a temporary workaround, you can disable these options:
![image](https://cloud.githubusercontent.com/assets/1119267/26278587/e9f14f80-3da6-11e7-98e6-1ccd368e2848.png)

[2017-05-20 19:03] DuckFlagellant commented on #1319
Okay, I just tried your suggested workaround, and now I can scrobble. Thanks very much, and I look forward to the bug being fixed!

[2017-05-20 21:27] alexesprit commented on #1319
@DuckFlagellant I changed some settings of Youtube API key, and now the extension should work even with enabled options. Could you check this and tell if it works?

[2017-05-21 02:56] DuckFlagellant commented on #1319
It's working now, thank you so much!

[2017-05-21 05:52] #1319 closed

[2017-05-22 15:07] alexesprit commented on #669
The extension now is available on AMO: https://addons.mozilla.org/ru/firefox/addon/web-scrobbler/.

There's a bit outdated v1.63.0 on the AMO, I'll update it when v1.65.0 will be released.

[2017-05-22 15:07] #669 closed

[2017-05-27 06:48] alexesprit commented on #1311
@RogerF81 are you still experiencing this issue?

[2017-05-27 07:50] RogerF81 commented on #1311
I don't know what was wrong previously, but it seems to work again! :)

[2017-05-27 07:51] #1311 closed

[2017-05-29 07:48] StephenDonaldson opened #1320 "Scrobbles completely inaccurate for multiple services"
### Expected Behavior
In a recent update Spotify, Soundcloud, and YouTube scrobbling all broke from what I can tell; when I check my scrobbles the information is incomplete or inaccurate; things don't contain album info anymore for one, which is a major issue for people trying to use their scrobbles to generate album boards to share.

### Current Behavior
Album tags in particular are missing for S

[2017-05-29 08:39] alexesprit commented on #1320
1. Youtube connector has never gathered album info, because there's no album info on the video page.
2. The same story with Spotify. The album info is not available in the player element.
3. Soundcloud connector should scrobble album, but I didn't check it.

I'm not sure [1] and [2] can be fixed. I'll look at Soundcloud connector later, perhaps, it's broken.

[2017-05-29 16:10] f1u77y commented on #1320
Spotify's target is music, so I think there should be info somewhere maybe not in the DOM but somewhere in scripts.

And we already fetch info from last.fm for checking info. Can we get album from there if the info from connector does not contain it?

[2017-05-29 17:02] alexesprit commented on #1320
Soundcloud also doesn't provide album info.

Yes, we can, but it should be optional feature.

[2017-05-29 18:40] StephenDonaldson commented on #1320
This is false; before version 1.63.0 it automatically sent album information and scrobbled properly; with 1.63.0 it broke.

[2017-05-29 19:25] alexesprit commented on #1320
I've just scrobbled a track using v1.62.0, and the extension does not scrobble album too (and it shouldn't do that).

I don't think it's a good solution.

[2017-05-29 19:34] StephenDonaldson commented on #1320
That's because 1.62.0 is broken due to the changes Spotify pushed out.

[2017-05-29 19:39] alexesprit commented on #1320
Hmm... okay. Let's say it's "broken".

I think the issue can be resolved by getting the album info from Last.fm, but Last.fm doesn't always provide it.

[2017-05-29 19:44] alexesprit commented on #1320
I 'm just trying to understand why it becomes a problem now. The extension has about 50% of connectors which don't provide album information, but you're first one who said it's useless.

[2017-05-29 19:48] StephenDonaldson commented on #1320
Because you ignore all of the people posting comments on the extension's page itself and require them to come comment on friggin GitHub, which people aren't going to do. It's an issue since the main reason a lot of people use Last.FM in the first place is to generate album collages and when things aren't popping up as albums, it's pointless. The functionality worked before and does not now anymore

[2017-05-29 19:51] alexesprit commented on #1320
I can't fix it because I don't know what to fix. But pull requests contains fixes are always welcome.

[2017-05-29 20:00] alexesprit commented on #1320
What about Youtube and Soundcloud? Will the v1.62.0 version scrobble albums for these websites?

[2017-05-29 21:15] alexesprit opened #1321 "Album info and autocorrection"
I tried to implement a feature suggested by @f1u77y in https://github.com/david-sabata/web-scrobbler/issues/1320#issuecomment-304694162 and found out the autocorrection flag affects on data received from Last.fm:
1. autocorrect=0: https://pastebin.mozilla.org/9023004
2. autocorrect =1: https://pastebin.mozilla.org/9023005

The second response looks more informative. That's true for some songs, for

[2017-05-30 06:05] StephenDonaldson commented on #1320
Went ahead and fixed this for Spotify and opened a pull request [here](https://github.com/david-sabata/web-scrobbler/pull/1322).

[2017-05-30 14:13] Leo1212abc commented on #919
I have the same Problem. I use Amazon Alexa, if I play a song from a playlist, the song is not recognized (The Playlist name appears in Lst.fm) but when I’m playing the song outside of the playlist, the song is known and everything is fine.

[2017-06-01 03:32] f1u77y commented on #1321
If we don't want last.fm to perform autocorrect then it just send us back the data we've send, as I can understand. And this is right because fetching additional fields from last.fm is autocorrect too. So I think option to autofill album from last.fm should be either sub-option of autocorrect or be enabled if autocorrect is enabled (and don't be a separate option).

[2017-06-02 10:50] Larzans commented on #1014
It doesn't work on several analogafrica links either, for example this one:
https://analogafrica.bandcamp.com/album/angola-soundtrack-2-hypnosis-distorsions-other-sonic-innovations-1969-1978
Is there anything i can change in the configuration to fix that? If i click on the 'as' icon the track is shown correctly, but it doesn't scrobble!

[2017-06-02 11:01] alexesprit commented on #1014
@Larzans can't reproduce, the extesnion scrobbles fine for me from that URL.
[How to debug extensions.](https://github.com/david-sabata/web-scrobbler/wiki/How-to-debug-the-extension)

[2017-06-02 13:59] Larzans commented on #1014
@alexesprit thanks for the link. That is very strange. Maybe it is related to the fact that there are some special characters in the arbum title?
`<album corrected="0">Angola Soundtrack 2 - Hypnosis, Distorsions & Other Sonic Innovations 1969ââ1978</album
`
When debugging the plugin shows the correct information in the popu, but the ajax request shows this strange characters and the response f

[2017-06-02 14:02] Larzans commented on #1014
It seems to be the special characters, as i can scrobble other albums from analog africa without any problems (they don't show the special characters in the ajax request)
So i guess this problem is related to the fact that the album titles contain these characters. Is there a way that scrobblr could filter out anything unusual that will probably not be part of a song name anyhow?

[2017-06-02 14:03] alexesprit commented on #1014
@Larzans Can you provide **full** logs?

[2017-06-02 14:26] Larzans commented on #1014
@alexesprit I will later when i find the time. How would you like them? You mean the ajax petitions, or the console output (not much there)

[2017-06-02 15:56] Larzans commented on #1014
The console: https://pastebin.com/gZyb0GxJ
Ajax requests: https://pastebin.com/bqAF7VPg
Bandcamp page: https://analogafrica.bandcamp.com/album/angola-soundtrack-2-hypnosis-distorsions-other-sonic-innovations-1969-1978
Last.fm page: https://www.last.fm/music/Various+Artists/Angola,+Soundtrack+2+(Hypnosis,+Distortions+&+Other+Sonic+Innovations+1969-1978)

Hmm, now looking at it, might the problem be

[2017-06-02 16:17] alexesprit commented on #1014
@Larzans Last.fm ignores some tracks for some reason.
[code]

But I noticed the logs are from another project called "scroblr". This project is not related to that extension.

[2017-06-02 16:21] Larzans commented on #1014
Haha, whups, i was searching for scrobblr and didn't actually check the name too closely, sorry :)
Will try this extension then.

[2017-06-02 17:13] Larzans commented on #1014
Sorry about the confusion, this extension works like a charm for me now!

[2017-06-03 23:06] alexesprit commented on #1321
The option currently controls `autocorrect` flag value sent in `track.getinfo` request, but the responses are the same (I mean artist and track titles). At least, I have never seen the difference.

But the extension always corrects song data based on Last.fm response.

[2017-06-04 01:19] brenoritvrezorkre opened #1325 "Broken extension in Firefox"
Completely does not work. There are no notifications, authentication is impossible, when you try to open the settings, a non-existent address "moz-extension://3f74f045-475b-4185-a389-bd16e39636e0/options/options.html" is called.

The extension itself actually has a given name: "{799c0914-748b-41df-a25c-22d008f9e83f}.xpi". Not as above.

Version: 1.63.0.

Browser: Firefox 53.0.3.

OS: Windows 8.1.

[2017-06-04 07:09] alexesprit commented on #1325
How can I reproduce the issue? The extension works fine for me from AMO.

[2017-06-04 07:33] brenoritvrezorkre commented on #1325
I just install it using the AMO site / "about:addons" and get this result. Nothing more is required.

[2017-06-04 07:34] alexesprit commented on #1325
That's strange. I have no idea how to reproduce this issue.

[2017-06-04 07:36] alexesprit commented on #1325
Have you tried to remove the extension and install it again?

[2017-06-04 07:56] brenoritvrezorkre commented on #1325
Yes. The address has changed, but it is still incorrect.
Bad address: [screenshot](http://i.imgur.com/ZmtMRHV.png).
Real address: [screenshot](http://i.imgur.com/RWrcjVv.png).

[2017-06-04 07:58] alexesprit commented on #1325
Can you install the extension using new Firefox profile?

[2017-06-04 09:06] #1315 closed

[2017-06-04 09:12] brenoritvrezorkre commented on #1325
The source of the problem is found. This extension is not compatible with RequestPolicy.

[2017-06-04 09:17] alexesprit commented on #1325
Do you mean the "RequestPolicy" extension for Firefox? I reproduced the issue after I installed that extension.

I also noticed other WebExtension become unusable too.

[2017-06-04 09:25] alexesprit commented on #1325
[This one](https://addons.mozilla.org/en-US/firefox/addon/requestpolicy-continued/) works fine with the WebExtensions.

[2017-06-04 09:29] brenoritvrezorkre commented on #1325
Yes, RequestPolicy for Firefox.

I've been using this extension for a long time, and it's really useful (even if it does not support the use of regular expressions), because it prevents unwanted requests from various web pages. I do not know what WebExtensions you mean, but personally, RequestPolicy did not work correctly only with this Scrobbler. Changing the RequestPolicy settings does not solve

[2017-06-04 09:36] alexesprit commented on #1325
[What is WebExtensions](https://developer.mozilla.org/en-US/Add-ons/WebExtensions). This extension is powered on this technology, that's why I mentioned WebExtensions.

I also have Feedly Notifier and Checker Plus for Gmail installed (they are WebExtensions too), and these extensions don't work if RequestPolicy is insalled.

This issue is fixed in RequestPolicyContinued project: https://github.com

[2017-06-04 09:44] brenoritvrezorkre commented on #1325
Yes, replacing the RequestPolicy with the RequestPolicyContinued really made this Scrobbler workable. Thank you.

[2017-06-04 09:50] #1325 closed

[2017-06-04 11:07] brenoritvrezorkre opened #1326 "Conflict with one more extension."
Random Agent Spoofer for Firefox.

The problem is that the Scrobbler does not perform the required (re-)authentication. Unchecking the flags in the 'Random Agent Spoofer' options does not help in resolving this conflict, either I incorrectly make adjustments to adapt R.A.S. to this Scrobbler.

Please see what things might contradict each other. Most likely, you know the list of technologies and te

[2017-06-04 11:53] alexesprit commented on #1326
How exactly the extension does not perform the reauthentication? Is is showing an error message or is it do nothing? I've installed RAS and I can reauth w/o any problems.

[2017-06-04 12:01] brenoritvrezorkre commented on #1326
When installing the Scrobbler, there is no notification that I need to authenticate. In the settings, the reauthentication button does not work. This was tested in the profile with all other extensions disabled, and the correct operation of the Scrobbler stopped when the R.A.S. was enabled.

[2017-06-04 12:03] alexesprit commented on #1326
Can you add "ws.audioscrobbler.com" and "last.fm" URLs to RAS whitelist and reauth again?

[2017-06-04 12:07] brenoritvrezorkre commented on #1326
Nothing happens.

[2017-06-04 12:17] alexesprit commented on #1326
Can you post logs of options page? Here are steps to collect them:
1. Open options page.
2. Click on reauth button.
3. Hit "Ctrl+Shift+C" key combination, select "Console" tab and copy console logs.

[2017-06-04 12:48] brenoritvrezorkre commented on #1326
SecurityError: The operation is insecure.  config.js:41
	setupDefaultConfigValues moz-extension://81d88aec-a623-4d64-900c-3e0379a4f7e0/core/background/config.js:41:8
	<anonymous> moz-extension://81d88aec-a623-4d64-900c-3e0379a4f7e0/core/background/config.js:57:2
	execCb moz-extension://81d88aec-a623-4d64-900c-3e0379a4f7e0/vendor/require.js:1:12361
	check moz-extension://81d88aec-a623-4d64-900c-3e0

[2017-06-04 13:25] alexesprit commented on #1326
Hmm, that's odd.

Can you install the extension from [this zip](https://github.com/alexesprit/web-scrobbler/archive/firefox-test.zip) as a temporary addon and reauth again?

[2017-06-04 14:55] brenoritvrezorkre commented on #1326
"This extension can not be established, since it appears to be damaged".

I tried to use the required formats ".xpi" and ".jar", install directly the source archive ".zip", zip-archive with the contents of the directory and so on, but the browser does not accept any of this. Please create a ready-to-install xpi-package.

[2017-06-04 14:58] alexesprit commented on #1326
You can install the extension by clicking on "Install temporary add-on" button on the "about:debugging#addons" page. Click on this button and select manifest.json file. The archive supposed to be extracted to some directory.

[2017-06-04 15:07] brenoritvrezorkre commented on #1326
[code]

[2017-06-04 15:41] alexesprit commented on #1326
Unfortunately, I have no idea why the extension does not work properly and how to fix it w/o disabling RAS.

[2017-06-04 15:42] brenoritvrezorkre commented on #1326
It's sad.

[2017-06-07 08:05] SeleniaIrisha opened #1328 "rockradio.com"
On the radio began to add to the title of the song name of the music style. Scroobler does not recognize

![default](https://user-images.githubusercontent.com/28702358/26868302-34f3d610-4b71-11e7-8104-2dcf1e808392.JPG)

[2017-06-07 08:07] SeleniaIrisha commented on #1328
![default](https://user-images.githubusercontent.com/28702358/26868373-7de75ec8-4b71-11e7-95de-592128266f21.JPG)

[2017-06-07 11:42] Alex-Kho commented on #1328
The same for https://www.radiotunes.com
![image](https://user-images.githubusercontent.com/5023703/26876577-8ef519f8-4b8f-11e7-91bf-9e53dcb5727f.png)

[2017-06-07 11:56] SeleniaIrisha commented on #1328
Probably all of their subsidiaries
![default](https://user-images.githubusercontent.com/28702358/26877085-757add76-4b91-11e7-9fa0-e923757a6471.JPG)

[2017-06-07 16:09] alexesprit commented on #1328
@SeleniaIrisha @Alex-Kho can you check the extension from this zip? https://github.com/alexesprit/web-scrobbler/archive/radiotunes-fix.zip

[2017-06-08 03:36] rymarcode commented on #1328
Yes, di.fm and others stations(radiotunes, rockradio) has changed their players from flash technology and direct streams. Also, they prepend station title to song title and its complicate extension to scrobbler.

I think, we just need add gsub function to scrobbler for cut out unnecessary text. I'll do pull request with this very soon

[2017-06-08 05:59] alexesprit commented on #1328
@rymarcode I have already fixed the issue and post URL to the fixed extension. I'm just waiting until someone confirms it's fixed.

[2017-06-08 07:14] rymarcode commented on #1328
@alexesprit okay. You can create pull request with fixed code

[2017-06-08 13:25] crinabucur opened #1329 "181.fm integration"
Hi,

Any chance of implementing the integration with the http://www.181.fm website?

Good job with the extension, thank you! (:

[2017-06-08 13:49] alexesprit commented on #616
@PiotrDabr in the current v1.65.0 version you can toggle scrobbling for a certain website (permanently or until current tab is closed) by right-clicking on the icon in the exntensions bar. The next one has a feature to skip (ignore) now playing song.

[2017-06-08 17:28] alexesprit commented on #1329
I'm not sure if it's possible. This website uses iframe which has different source, and this makes the scrobbling from this site impossible.

I tried to inject a script to read data from internal JS objects, but I had no luck.

[2017-06-08 17:29] #1328 closed

[2017-06-08 21:16] crinabucur commented on #1329
That's a pity, I thought it was possible, especially since I saw a last.fm reference on their page. Thank you very much for trying, Alex! Hopefully they will change something in the future and it will be possible, as I really enjoy their radios and hate to see the scrobbles going to waste :)

[2017-06-09 04:04] alexesprit commented on #1329
I think it's possible to add support for scrobbing from pages like these ones: http://181fm.mystreamplayer.com/?autoplay=12 but users should open them manually.

[2017-06-09 12:38] crinabucur commented on #1329
Thank you. If the extension worked with this kind of hyperlink, I would gladly use it, instead of the conventional path.

[2017-06-09 18:00] #1329 closed

[2017-06-09 18:03] alexesprit commented on #1329
Will be available in the next release.

[2017-06-12 12:14] alexesprit commented on #1300
I'm closing this as a duplicate of #454. As previously said v2 format is pretty easy, and working connectors are always welcome.

[2017-06-12 12:14] #1300 closed

[2017-06-12 12:15] alexesprit commented on #940
Closed as a duplicate of #37.

[2017-06-12 12:15] #940 closed

[2017-06-12 12:17] #1014 closed

[2017-06-13 14:16] PiotrDabr commented on #616
@alexesprit Awesome! That's exactly what I was looking for.

[2017-06-14 06:43] LaHaine opened #1332 "Firefox crashes when trying to scrobble a youtube video"
### Current Behavior
Firefox always crashes after a few seconds of playing a youtube video. It doesn't crash after disabling the last.fm scrobbler.

### Steps to Reproduce (for bugs)
The video is this one: https://www.youtube.com/watch?v=ilfy5XjRl7Q&feature=em-subs_digest
Firefox is Firefox ESR 52.1.0 on Enterprise Linux 6.
Last.fm Web Scrobbler is 1.65.0

The error on the crash is this one:

1497

[2017-06-14 06:48] f1u77y commented on #1332
Does not reproduce on my Nightly. That's Firefox bug, so it's better to report it to Mozilla but not here.

Any bug in a new style Firefox extension (webextension) that makes the whole browser crash is most likely a Firefox bug because new API does not allow access to the browser internals.

[2017-06-14 06:48] LaHaine commented on #1332
It crashes right in the moment where the pop-up window would appear.

[2017-06-14 06:53] f1u77y commented on #1332
Okay, but that's a low level bug in Firefox (or maybe in the d-bus library). Try reproducing it on a new profile and reporting it to Mozilla.

[2017-06-14 07:05] LaHaine commented on #1332
OK, I have reported upstream: https://bugzilla.mozilla.org/show_bug.cgi?id=1372819

[2017-06-15 15:37] f1u77y opened #1333 "Indicate paused state in page action"
I think current behaviour (the same icon whether is media playing or not) is a bit confusing.

That could also help to distingush site issues ("it's scrobbling but it shouldn't" from "it indicated playing but it's paused").

[2017-06-16 04:19] alexesprit commented on #1333
Some connectors are unable to get playing state, although website allows to pause/unpause songs. Is it ok to show "now playing" icon all the time for such websites?

[2017-06-16 05:06] f1u77y commented on #1333
I've meant not really showing playing state but showing if the song is scrobbling now.

And wait, are some connectors unable to get playing state? Does it mean they misbehave when media is not playing (but they assume it does and scrobble it)?

[2017-06-16 07:13] alexesprit commented on #1333
Sorry, I don't understand your idea. The extension shows if the song is playing using green note icon, and if nothing is playing by red "Last.fm" icon.

Some connectors don't implement `Connector.isPlaying` function. In this case the extension supposes the song is playing (see default function implementation).

[2017-06-16 07:21] f1u77y commented on #1333
Okay. In this case it's fine to show that the song is playing because the scrobbler assumes it's playing (and scrobbles after half of song duration is gone).

I suggest to indicate green note icon only when `Connector.isPlaying()` is `true` and with some other icon (something like "paused") otherwise.

[2017-06-17 15:12] alexesprit commented on #1141
Fixed in #1200.

[2017-06-17 15:12] #1141 closed

[2017-06-17 17:51] inverse commented on #910
@alexesprit should we close this? Perhaps having a more general way to "scrobble site site with connector x"  might be better, although that could get messy with patterns.

[2017-06-17 17:51] inverse commented on #1065
Should we close this one too?

[2017-06-17 18:17] kini opened #1334 "YouTube manually entered scrobbles are sometimes not remembered"
Often I will play a YouTube video which web-scrobbler doesn't automatically recognize, so I click the gray question mark and enter the information, and the track successfully scrobbles.  But then when I play the video again, the gray question mark reappears and I have to enter the information again.  However this only happens on some videos.  On other videos, once I enter the information once, it

[2017-06-17 19:22] #1334 closed

[2017-06-17 19:23] alexesprit commented on #1334
Will be fixed in the next update.

[2017-06-17 19:23] #1065 closed

[2017-06-17 19:24] kini commented on #1334
Wow, thanks for the EXTREMELY fast response! I should have reported this when I first saw it a couple weeks ago :)

[2017-06-18 16:37] alexesprit opened #1335 "Timestamp in now playing notifications"
Is there a reason to keep the timestamp in now playing notifications?
![image](https://user-images.githubusercontent.com/1119267/27262315-bc5ab364-545c-11e7-9477-107da4f071b4.png)
Chrome Notification Center is gone, therefore the notification is visible only when the track is playing. I can't imagine how the timestamp can be using in this case.

We could add an album title instead of that timestam

[2017-06-18 16:40] f1u77y commented on #1335
For watching current time?

Being more serious, I totally agree with you idea to show album instead.

[2017-06-18 17:38] alexesprit commented on #1296
@jeanloup is this still an issue?

[2017-06-18 17:47] alexesprit commented on #275
As a solution I can suggest to disable all connectors and enable them by right-clicking on the icon in the extensions bar.
![image](https://user-images.githubusercontent.com/1119267/27262819-48d26530-5467-11e7-97c6-e3bd845cb025.png)

[2017-06-18 18:09] jeanloup commented on #1296
I'm not 100% sure but I think it worked fine last time I used it in that
confusion

On 18 Jun 2017 18:38, "Alexey" <notifications@github.com> wrote:

[2017-06-18 18:10] alexesprit commented on #1296
@jeanloup ok, then I'm closing this. Please reopen the issue if the extension stops working.

[2017-06-18 18:10] #1296 closed

[2017-06-21 13:16] crinabucur opened #1337 "181.fm incorrect artist name"
Hi,

I want to report an issue regarding the newly integrated 181.fm radio ( http://181fm.mystreamplayer.com ).

It looks like for some tracks this website appends what seems to be the album / LP name after the artist name, separated through a slash character "**/**".

![image](https://user-images.githubusercontent.com/2715895/27385518-a7071f0c-569b-11e7-8205-4b373a505137.png)

Another thing is th

[2017-06-21 13:40] crinabucur commented on #1337
I also added a snapshot of a situation with multiple slash characters. Not sure if you can find a solution for this though (perhaps just considering the first substring before the slash?), as it seems the radio website doesn't have its info straight.

![image](https://user-images.githubusercontent.com/2715895/27386904-df7f9b26-569f-11e7-8a35-8e93727d9088.png)

Thanks!

[2017-06-21 15:34] Millertime393 opened #1338 "pandora scrobbling correctly wont connect if reloaded or refreshed"
### Expected Behavior

### Current Behavior

### Possible Solution

### Steps to Reproduce (for bugs)

1.
2.
3.

### Context

### Steps for resolving the issue

- [ ] Reauthenticate on Last.fm

- [ ] Try to use unpacked extension from latest master

- [ ] Check other issues for duplicates

### Environment

* Version used:
* Browser Name and version:

[2017-06-21 17:00] #1338 closed

[2017-06-21 17:45] theregent1 opened #1339 "Pandora not scrobbling this morning"
### Expected Behavior
pandora.com website stopped scrobbling this morning
no improvement

### Current Behavior
 red AS symbol in extensions says site should be scrobbling, but can't identify that the page is playing music

### Possible Solution

### Steps to Reproduce (for bugs)

1.  chrome.storage.local = {"Core":{"appVersion":"1.60.2"},"LastFM":{"sessionID":"xxxxx2S1kb5_eQcvZgVVg_dVwH0EALw3","se

[2017-06-21 19:35] #1339 closed

[2017-06-21 19:36] alexesprit commented on #1339
Will be fixed in the next update. You can install the extension from the master branch, if you want to get the update right now, though.

[2017-06-21 19:45] #1337 closed

[2017-06-21 19:48] alexesprit commented on #1337
Hi Crina!

The extension should work fine after next update. I also added support for album info in the connector.

You can install the extension from the master branch to get update right now.

[2017-06-22 01:35] HoustonHouston opened #1340 "Pandora (Desktop) No Longer Scrobbles (chrome/pc)"
Title says it all. I've tried the following.
- re-authentication
- extension re-installation
- logout/login on last.fm
- clear browser data

The extension will detect that pandora is supported but will never go green.

[2017-06-22 04:19] alexesprit commented on #1340
This is known issue and it was fixed. You can install the extension from the master branch, if you want to get the update right now.

[2017-06-22 04:19] #1340 closed

[2017-06-22 07:57] greedoe opened #1341 "Issue with gear icon configuration"
### Expected Behavior
When I click the gear icon, a box should appear where I can add a customer configured URL.

### Current Behavior
When I click the gear icon, nothing happens.

### Possible Solution

### Steps to Reproduce (for bugs)

1.  Go to the Options page for the extension
2.  click on Options
3.  Scroll down to "supported websites" and click on the gear icon next to any website.

### Co

[2017-06-22 08:01] greedoe commented on #1109
I can't actually get anything to happen when I click on the gear icon. I'm using the extension through v60 /64-bit of Chrome.

[2017-06-22 08:30] greedoe commented on #1341
Also having issues on v58 / 32bit Chrome.

[2017-06-22 11:38] theregent1 commented on #1339
master 1.66.0 unpacked extension from this morning works, thank you for the heads up

[2017-06-22 19:49] #1341 closed

[2017-06-22 19:50] alexesprit commented on #1341
Thanks for reporting the issue!

The issue should be fixed in the next update.

[2017-06-23 04:33] MRmarkMAN opened #1342 "Chrome extension not working with Pandora."
The extension will no longer scrobble my Pandora. A few days ago it was working fine and now it just will not work. I disabled and re-enabled the connector, logged out and back in to Pandora, and re-verified my account with last.fm. The extension will work fine on other sites like Spotify however. I'm stumped and not sure if the issue is on my end or not and so far I can't find anything to make me

[2017-06-23 16:00] ducker3 commented on #1342
I've been having this same issue for a number of days, after checking the forum I attempted to delete the extension, reboot, and then re-download/add it and sync it up to all my accounts - but still failing to work with Pandora.

[2017-06-23 17:25] harrypedro opened #1343 "Chrome extension is not working on the new hypemachine"
Extension stopped working on hypemachine since is changed a few weeks ago.

[2017-06-23 19:55] paladzin commented on #1342
Same here

[2017-06-24 03:08] LxNix commented on #1342
me too

[2017-06-24 06:25] alexesprit commented on #1342
Closed as a duplicate of #1339.

[2017-06-24 06:25] #1342 closed

[2017-06-24 06:26] alexesprit commented on #1343
Can't reproduce. Have you any additional information?

[2017-06-24 07:31] teddybradford opened #1344 "Add connector for Rainwave"
[Rainwave](https://rainwave.cc/) is a popular radio station that streams video game music. It would be great to have support for it!

[2017-06-25 07:55] #1344 closed

[2017-06-25 08:15] inverse opened #1345 "Multi-language support for extension"
Not sure how well the Firefox version will handle such things though.

- https://developer.chrome.com/webstore/i18n
- https://developer.chrome.com/extensions/i18n

Init: https://github.com/david-sabata/web-scrobbler/compare/master...inverse:i18n?expand=1

[2017-06-25 08:20] f1u77y commented on #1345
Latest Firefox handles it fine.
You could find relevant info at [MDN](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Chrome_incompatibilities)

[2017-06-27 04:32] IRainman opened #1347 "Firefox 54.0 Pandora (pandora.com) not working (version 1.66.0)"
Firefox 54.0 Pandora (pandora.com) not working (version 1.66.0)

### Expected Behavior

### Current Behavior

### Possible Solution

### Steps to Reproduce (for bugs)

1.
2.
3.

### Context

### Steps for resolving the issue

- [x] Reauthenticate on Last.fm

- [ ] Try to use unpacked extension from latest master

- [x] Check other issues for duplicates

### Environment

* Version used: 1.66.0
* Br

[2017-06-27 08:06] f1u77y commented on #1347
v1.67.1 is latest release. But AMO slows the update process a bit. The bug is fixed in 1.67 IIRC, so you need to install the extension from master if you need this right now.

(I'd like to distribute connectors separately because AMO (and maybe the Chrome Store) negates alexesprit's effort put into fast hotfixes of connectors)

[2017-06-27 12:23] IRainman commented on #1347
@f1u77y okay, thank u :)

P.S. Yeap, given the presence of slowpokes in AMO and possibly in the Chrome Store, I'm also for distributing connectors directly from the github.

[2017-06-27 14:16] IRainman commented on #1347
@f1u77y okay, thank u :)

P.S. Yeap, given the presence of slowpokes in AMO and possibly in the Chrome Store, I'm also for distributing connectors directly from the github.

[2017-06-27 15:56] fishstik opened #1348 "Ability to view list of saved edited tracks"
I love the feature that saves edited track info and autofills it later. Very useful! Would like the ability to see (and maybe even edit?) a list of all my edited tracks. Could even just be a .txt file that could be opened from the Options page.

[2017-07-01 10:15] #1347 closed

[2017-07-01 18:57] Draqun opened #1349 "Cannot scroble one song from YT"
I have playlist, but there is one song and plugin does not scrobling it. This is link to song: https://www.youtube.com/watch?v=tnrQhaMb5u4&list=PLOR-Desu626gkXmURUlhacWLra_DM8nCR&index=16

### Expected Behavior
If song is not recognized I manually set title and artist

### Current Behavior
There is no action when this song is playing

### Possible Solution
Allow manully force scrobbling unrecogniz

[2017-07-01 19:03] alexesprit commented on #1349
1. This song is not in "Music" or "Entertainment" categories, and it cannot be scrobbled until these options are enabled:
![image](https://user-images.githubusercontent.com/1119267/27764703-b6238af6-5ea8-11e7-99ef-8c0158d20c11.png)
2. This song is now known by Last.fm, and user should manually submit the song data by clicking on "question" icon in the extension bar. There's an option called "Force

[2017-07-01 19:05] Draqun commented on #1349
Really fast answer. Ok now all is fine. Thx.

Best regards.

[2017-07-01 19:05] #1349 closed

[2017-07-01 19:10] f1u77y commented on #1349
BTW option names are a bit misleading. Both disabled means scrobble all but it could be interpreted as "don't scrobble anything on YT"

[2017-07-01 19:16] alexesprit commented on #1349
@f1u77y yes, you're right. Earlier, there was a single option called "Scrobble videos from "Music" category **only**" that sounds better.

[2017-07-01 19:20] f1u77y commented on #1349
I suggest something like this
- [ ] Scrobble Music
- [ ] Scrobble Entertainment
- [ ] Scrobble everything else

[2017-07-02 15:47] f1u77y opened #1350 "Misleading YouTube option names"
If both options are disabled, we scrobble any category but user could misunderstand option titles (see [comments](https://github.com/david-sabata/web-scrobbler/issues/1349#issuecomment-312450318)).

I'd like to suggest two options:
- One
  - Scrobble Music
  - Scrobble Entertainmaent
  - Scrobble other
- Two
  - Scrobble only these categories
    - Music
    - Entertainment
  - Scrobble all

[2017-07-02 15:56] inverse commented on #1350
Not a UX guy but I think Two would be a better fit, where the top two level are options and the categories checkboxes.

[2017-07-02 18:27] inverse commented on #1345
Thinking about it more it feels like for a lot of the pages we should be using a templating library to make this easier to work with. so we can generate the strings with chrome.i18n.getMessage and passing them through. Any suggestions of a library to use?

[2017-07-02 19:36] f1u77y commented on #1345
We just use static pages, so won't something like this
[code]
be enough?

[2017-07-03 06:00] inverse commented on #1345
What about placeholder? Where we concatenate? Also it's not just text we replace, we also update titles and placeholders

[2017-07-04 11:27] EverelastingSmith opened #1353 "Request: please add radiovolna.net support"
support for the radio channels on radiovolna.net would be great!
Thanks.

[2017-07-04 14:11] marsjaninzmarsa commented on #102
Or even config option:

[2017-07-04 14:30] marsjaninzmarsa commented on #211
How about now, free to go?

[2017-07-04 15:16] marsjaninzmarsa commented on #291
Related to #211

[2017-07-05 03:09] aVitomin opened #1354 "Request: please add sesh.team support"
Please add:  sesh.team radio
https://sesh.team/
https://radio.sesh.team/

Thanks advance

[2017-07-06 02:50] WasabiCannon opened #1355 "Connector Request: Nightcore.com"
After searching around I can't find any scrobbler that supports this site.
https://www.nightcore.com

Been using this addon for a long time so figured I would come  here to see if it is possible to add this site to the list of supported sites.

Not sure if it is possible since it uses embedded Youtube videos.

[2017-07-06 22:27] greedoe commented on #1226
do you need to have the player page open in a browser window for Alexa to scrobble? Seems a bit of a dodgy "workaround" if this is the case.

[2017-07-07 10:48] Avamander commented on #37
Any updates to this?

[2017-07-07 11:51] inverse commented on #37
@Avamander this is done :)

[2017-07-07 11:51] inverse commented on #37
Still WIP  @Avamander

[2017-07-10 04:19] marsjaninzmarsa commented on #1345
What's wrong with `i18n.getMessage()` second parametr?
https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Internationalization

[2017-07-10 14:49] marsjaninzmarsa opened #1357 "Scrobbling of embedded audio/video"
Got into https://daily.bandcamp.com/2017/07/07/guerilla-toss-gt-ultra-review/

### Expected Behavior
Bandcamp scrobbling working

### Current Behavior
Bandcamp player not detected

### Context
Scrobbling from embedded players not supported https://github.com/david-sabata/web-scrobbler/issues/993#issuecomment-238107197 and not planned https://github.com/david-sabata/web-scrobbler/issues/106#issueco

[2017-07-10 14:56] inverse commented on #1357
We will need to update the BC connector to handle these pages

[2017-07-11 16:18] marsjaninzmarsa commented on #1357
Bandcamp ofc was only an example - ofc maybe developing BC specific workaround (embeds, but with same origin) would be easiest than generic embeds support, but it's needed, it's recurring (since 2012), and it's doable, I think. I've started code digging, but before thinking about PRs and stuff I need your (plural _you_) opinion - am I right? I'm WebExt newbie, currently finishing up first own exte

[2017-07-16 21:56] marciof37 opened #1358 "Soundcloud problem"
The extension fails to scrobble soundcloud tracks with emojis in the title or artist name. Any time i try to play a song with an emoji in the title it fails to scrobble. Otherwise it works fine...
### Context

### Steps for resolving the issue

- [ ] Reauthenticate on Last.fm

- [ ] Try to use unpacked extension from latest master

- [ ] Check other issues for duplicates

### Environment

* Versio

[2017-07-17 04:02] alexesprit commented on #1358
Have you an example of such tracks?

[2017-07-18 17:39] toby3d opened #1359 "Connector request: fanburst"
Please, add https://fanburst.com (soundcloud analogue) support.

[2017-07-21 00:03] LinkCable commented on #1358
@alexesprit

Just ran into this issue myself, here's a track with an artist who has emoji in their username: https://soundcloud.com/ntreboot/dreamy

[2017-07-21 18:12] mainadungo opened #1360 "Scrobbler Doesn't See Amazon Alexa "Now Playing" Page Until Chrome Refresh"
I use this scrobbler so that Last.FM sees Spotify music played directly from Alexa (as opposed to being started from my phone or PC), since their is no native functionality for this yet.

On my server, I have Chrome start with Windows, and have the "Now Playing" page (http://alexa.amazon.com/spa/index.html#player) set as my homepage. When Chrome starts, the scrobbler extension is grayed out, and w

[2017-07-23 05:57] alexesprit commented on #1360
@mainadungo I cannot reproduce this issue on latest Chrome Canary. Can you try to reproduce in on Canary?

Can you also provide the extension logs? [How to debug extensions.](https://github.com/david-sabata/web-scrobbler/wiki/How-to-debug-the-extension)

Here are the steps to get the proper logs:
1. Start your browser.
2. Collect the logs after page is loaded.
3. Refresh the tab with Alexa page.
4

[2017-07-23 06:12] alexesprit commented on #1358
Yes, I have the same issue. Trying to figure out how to fix it.

[2017-07-23 09:40] #1358 closed

[2017-07-23 09:40] #1359 closed

[2017-07-23 09:40] #1353 closed

[2017-07-23 09:40] #1354 closed

[2017-07-23 09:40] alexesprit commented on #1359
Will be available in the next release.

[2017-07-23 09:40] alexesprit commented on #1354
Will be available in the next release.

[2017-07-23 09:41] alexesprit commented on #1353
Will be available in the next release.

[2017-07-23 09:42] alexesprit commented on #1358
This issue is not related to Soundcloud connector.

I fixed it in the latest master. The new version of the extension should scrobble such songs correctly.

[2017-07-23 10:04] alexesprit commented on #1348
@fishstik In the next release you can view edited tracks. I don't think editing the data should be implemented; this action can be done using the now playing popup. Removing tracks is not supported too, but I think it's a good feature should be implemented (possibly, later).

[2017-07-23 10:04] #1348 closed

[2017-07-23 10:15] alexesprit commented on #1335
Both album name and connector name don't look good when album name is long:
![image](https://user-images.githubusercontent.com/1119267/28498542-8a8ab87c-6fa8-11e7-959e-7f2b32fe705a.png)

So I think we can just get rid of the timestamp.

[2017-07-23 10:31] #1335 closed

[2017-07-23 10:46] alexesprit commented on #1357
I suggest to rewrite the BC connector in a following way:
[code]

[2017-07-23 11:08] alexesprit commented on #1357
Example of implementation: https://github.com/alexesprit/web-scrobbler/tree/bc-embed
I don't listen to music on Bandcamp, so I'm not sure I didn't broke anything else. I checked some random pages on Bandcamp, had no regressions.

[2017-07-24 15:05] fishstik commented on #1348
Awesome work, thanks!

[2017-07-24 18:56] mainadungo commented on #1360
Yep, reproducible on Canary. Same exact behavior. I'll send logs ASAP.

The browser refresh (F5) issue does NOT occur in Canary, and doesn't even occur in regular Chrome all the time. Seems intermittent. Also, I've seen the duplicate scrobbles while a song is playing ("a minute ago" and "scrobbling now"), but it clears itself out once the song is done. So maybe a non-issue?

[2017-07-24 19:49] mainadungo commented on #1360
Got the refresh issue to show itself. This was after several F5s in Chrome and Canary.
![image](https://user-images.githubusercontent.com/22915475/28541610-436dfd6e-707f-11e7-978f-9ce2ec0c921a.png)

[2017-07-24 19:57] mainadungo commented on #1360
Okay, here are the post-refresh logs.
https://gist.github.com/mainadungo/a85cf87dc85568aab68e2b90d4e12fe0

Interesting problem- if I already have another instance of Chrome running, such as the Developer Tools where the logs are kept, the issue does not occur. So I can't capture logs of the actual issue.

[2017-07-25 04:22] alexesprit commented on #1360
I see no issues in this logs.

Is is also happening with other websites or just with Alexa page?

I didn't reproduce "refresh" issue. I don't understand totally what are you talking about, but I've tried to reproduce it by a following way:
1. Open some music website (I used Spotify) and play some song (1).
2. Refresh the tab and play another song (2).

The extension doesn't scrobble song (1), as i

[2017-07-25 16:52] cyancey76 opened #1361 "Scrobble stopped working for dubtrack.fm"
### Expected Behavior
Scrobbles have stopped working on dubtrack.fm since 7/20/17

### Current Behavior
Extension says "This site is not supported for scrobbling."

### Context
dubtrack dev says the site had some changes pushed on 7/20/17.

### Environment
* Browser Name and version: Chrome 59

[2017-07-25 17:01] alexesprit commented on #1361
Can't reproduce. Works fine for me. I don't listen to music on dubtrack, so I choosed a random room: https://www.dubtrack.fm/join/melharucos.

Where did you find this text?

[2017-07-25 17:07] alexesprit commented on #919
Youtube changed their design, and now this info is not available until the description block is expanded.

[2017-07-25 17:07] #919 closed

[2017-07-25 19:04] mainadungo commented on #1360
Sorry I wasn't more clear- when I hit refresh, it scrobbles the same song over and over again, as if I listened to it twice. (See Iron Maiden screenshot above.)

Very interesting... the original bug only seems to occur on the Alexa "Now Playing" page. If I set my homepage to Spotify or Youtube, it functions completely as expected and desired.

[2017-07-26 16:01] cyancey76 commented on #1361
It's an issue with another extension I use. I figured out that it only happens in this specific room because that extension has extra functionality there.

[2017-07-26 16:01] #1361 closed

[2017-07-27 15:46] mainadungo commented on #1360
Update- I'd love to hear the future status of these two issues whenever updates become available, but for now I think I'm set.

I'm using Super Auto Refresh Chrome extension, set to 3 minutes, and that takes care of the issue where the scobbler doesn't see the Alexa "Now Playing page". 3 minutes also seems like a slow enough  refresh to not cause the refresh issue (Iron Maiden) yet. I'll report ba

[2017-07-28 22:54] chungkingxpress opened #1364 "No album data on Spotify Web"
All the scrobbles I make from Spotify Web show no album info, all the scrobblings I make show up on my library, but they aren't being added up to the corresponding album.

![album spotify](https://user-images.githubusercontent.com/30538690/28738961-3385bc2e-73cd-11e7-838e-f6585b8a3de0.png)
(The album name should show up below the name of the band)

I tried scrobbling from Bandcamp and the album in

[2017-07-29 03:18] alexesprit commented on #1364
This is already reported.

There's no a simple way to grab album info from Spotify web player; I plan to fix it by retrieving album info from Last.fm.

Closed as a duplicate of #1320.

[2017-07-29 03:18] #1364 closed

[2017-07-29 09:37] alexesprit commented on #1360
@mainadungo I still can't reproduce the issue. Btw, I have no Alexa device (but I can open the player page, though); don't know if it matters.

What operating system do you use? I'm on Windows 10.

Please also make sure you're not redirected to another page.

I'm still waiting for logs after first browser start (when the extension doesn't see the Alexa page).

[2017-07-30 07:42] alexesprit commented on #1360
Reproduced on Kubuntu.

[2017-07-30 09:35] alexesprit commented on #1360
I'm not sure if this issue is on the extension side. I tried debugging the extension and found out the `chrome.tabs.onUpdated` event is not fired for tabs opened on Chrome startup. This is true for Linux (I reproduced the issue on Kubuntu running on VirtualBox). I have no issue while using the extension on Windows 10. I also tried to add a random URL supported by web scrobbler as a homepage; the s

[2017-07-30 10:18] alexesprit commented on #1360
https://bugs.chromium.org/p/chromium/issues/detail?id=750487

[2017-07-31 12:47] jugdizh opened #1365 "Scrobbles Spotify ads"
When listening to Spotify free version in a web browser with this Chrome extension enabled, the ads that come up in Spotify get picked up and scrobbled as though they were songs. Now my Last.fm page has things like "greatest hits ever - Listen now",  "Gordon's - Enter Now", and "ASICS - Learn More" showing as my most frequently played tracks.

Environment:
Last.fm Scrobbler 1.67.1
Chrome 56.0.2924

[2017-07-31 15:11] mainadungo commented on #1360
Nice job, thanks a lot for sticking with this. Very interesting findings. I'm on Win7x64.

[2017-07-31 22:10] Aveefje opened #1366 "- Normally it would scrobble the track 'Uppermost - Passion' e.g., instead it doesn't even scrobble the site 'YouTube' overall. It doesn't recognize youtube for scrobbling."
### Expected behavior

### Current behavior

### Possible solution

### Steps to reproduce (for bugs)

1.
2.
3.

### Context

### Steps for resolving the issue

- [ ] Reauthenticate on Last.fm

- [ ] Try to use unpacked extension from latest master

- [ ] Check other issues for duplicates

### Environment

* Version used:
* Browser name and version: